<div class="rev_slider_wrapper fullwidthbanner-container" data-alias="classic4export" data-source="gallery">
    <div id="b-home_01_slider" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.4.1">
        <ul>
            <li data-index="rs-30" data-transition="zoomout" data-slotamount="default" data-hideafterloop="0"
                data-hideslideonmobile="off" data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut"
                data-masterspeed="2000" data-thumb="assets/images/slider/home-cosmetic/main-big-banner-1.jpg"
                data-rotate="0" data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7"
                data-saveperformance="off" data-title="Intro" data-param1="" data-param2="" data-param3="" data-param4=""
                data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10=""
                data-description="">
                <img src="assets/images/slider/home-cosmetic/main-big-banner-1.jpg" alt="" data-bgposition="center center"
                    data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg"
                    data-no-retina>
                <div class="tp-caption  tp-resizeme" data-x="['left','left','left','center']" data-hoffset="['300','300','170','0']"
                    data-y="['top','top','top','top']" data-voffset="['210','210','210','100']" data-fontsize="['22','22','22','20']"
                    data-width="none" data-height="none" data-whitespace="nowrap" data-type="text"
                    data-responsive_offset="on" data-frames='[{"delay":500,"speed":700,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":600,"frame":"999","to":"x:-50px;opacity:0;","ease":"nothing"}]'
                    data-textalign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]"
                    data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="line-height: 22px; font-weight: bold; text-transform: uppercase; color: #000; z-index: 999">
                    Shop & save today
                </div>
                <div class="tp-caption tp-resizeme" data-x="['left','left','left','center']" data-hoffset="['130','100','50','0']"
                    data-y="['top','top','top','top']" data-voffset="['250','250','230','130']" data-fontsize="['30','30','24','24']"
                    data-width="none" data-height="none" data-whitespace="nowrap" data-type="text"
                    data-responsive_offset="on" data-frames='[{"delay":700,"speed":700,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":500,"frame":"999","to":"y:50px;opacity:0;","ease":"nothing"}]'
                    data-textalign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
                    data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="font-family: Lora; color: #000; line-height: 60px; text-align: center; text-transform: uppercase; z-index: 999; font-weight: 600">Pink
                    and gold lipsticks for every
                </div>
                <div class="tp-caption tp-resizeme" data-x="['left','left','left','center']" data-hoffset="['100','100','70','0']"
                    data-y="['top','top','top','top']" data-voffset="['300','300','270','180']" data-fontsize="['30','30','20','20']"
                    data-width="none" data-height="none" data-whitespace="nowrap" data-type="text"
                    data-responsive_offset="on" data-frames='[{"delay":700,"speed":700,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":500,"frame":"999","to":"y:50px;opacity:0;","ease":"nothing"}]'
                    data-textalign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
                    data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="font-family: Lora; color: #000; line-height: 60px; text-align: center; text-transform: uppercase; z-index: 999; font-weight: 600">skintone
                    new trending in 2016 season
                </div>
                <div class="tp-caption tp-resizeme" data-x="['left','left','left','center']" data-hoffset="['350','350','200','0']"
                    data-y="['top','top','top','top']" data-voffset="['380','380','330','250']" data-fontsize="['73','73','73','40']"
                    data-width="none" data-height="none" data-whitespace="nowrap" data-type="text"
                    data-responsive_offset="on" data-frames='[{"delay":700,"speed":700,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":500,"frame":"999","to":"y:50px;opacity:0;","ease":"nothing"}]'
                    data-textalign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
                    data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]">
                    <a href="#" class="btn" style="background-color: #000; color: #fff;">LEARN MORE</a>
                </div>
            </li>
            <li data-index="rs-6" data-transition="zoomout" data-slotamount="default" data-hideafterloop="0"
                data-hideslideonmobile="off" data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut"
                data-masterspeed="2000" data-thumb="assets/images/slider/home-cosmetic/main-big-banner-2.jpg"
                data-rotate="0" data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7"
                data-saveperformance="off" data-title="Intro" data-param1="" data-param2="" data-param3="" data-param4=""
                data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10=""
                data-description="">
                <img src="assets/images/slider/home-cosmetic/main-big-banner-2.jpg" alt="" data-bgposition="center center"
                    data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg"
                    data-no-retina>
                <div class="tp-caption  tp-resizeme" data-x="['left','left','left','center']" data-hoffset="['300','300','170','0']"
                    data-y="['top','top','top','top']" data-voffset="['210','210','210','100']" data-fontsize="['22','22','22','20']"
                    data-width="none" data-height="none" data-whitespace="nowrap" data-type="text"
                    data-responsive_offset="on" data-frames='[{"delay":500,"speed":700,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":600,"frame":"999","to":"x:-50px;opacity:0;","ease":"nothing"}]'
                    data-textalign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]"
                    data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="line-height: 22px; font-weight: bold; text-transform: uppercase; color: #000; z-index: 999">
                    Shop & save today
                </div>
                <div class="tp-caption tp-resizeme" data-x="['left','left','left','center']" data-hoffset="['130','100','50','0']"
                    data-y="['top','top','top','top']" data-voffset="['250','250','230','130']" data-fontsize="['30','30','24','24']"
                    data-width="none" data-height="none" data-whitespace="nowrap" data-type="text"
                    data-responsive_offset="on" data-frames='[{"delay":700,"speed":700,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":500,"frame":"999","to":"y:50px;opacity:0;","ease":"nothing"}]'
                    data-textalign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
                    data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="font-family: Lora; color: #000; line-height: 60px; text-align: center; text-transform: uppercase; z-index: 999; font-weight: 600">Pink
                    and gold lipsticks for every
                </div>
                <div class="tp-caption tp-resizeme" data-x="['left','left','left','center']" data-hoffset="['100','100','70','0']"
                    data-y="['top','top','top','top']" data-voffset="['300','300','270','180']" data-fontsize="['30','30','20','20']"
                    data-width="none" data-height="none" data-whitespace="nowrap" data-type="text"
                    data-responsive_offset="on" data-frames='[{"delay":700,"speed":700,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":500,"frame":"999","to":"y:50px;opacity:0;","ease":"nothing"}]'
                    data-textalign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
                    data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="font-family: Lora; color: #000; line-height: 60px; text-align: center; text-transform: uppercase; z-index: 999; font-weight: 600">skintone
                    new trending in 2016 season
                </div>
                <div class="tp-caption tp-resizeme" data-x="['left','left','left','center']" data-hoffset="['350','350','200','0']"
                    data-y="['top','top','top','top']" data-voffset="['380','380','330','250']" data-fontsize="['73','73','73','40']"
                    data-width="none" data-height="none" data-whitespace="nowrap" data-type="text"
                    data-responsive_offset="on" data-frames='[{"delay":700,"speed":700,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":500,"frame":"999","to":"y:50px;opacity:0;","ease":"nothing"}]'
                    data-textalign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
                    data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]">
                    <a href="#" class="btn" style="background-color: #000; color: #fff;">LEARN MORE</a>
                </div>
            </li>
        </ul>
        <div class="tp-bannertimer" style="height: 7px; background-color: rgba(255, 255, 255, 0.25);"></div>
    </div>
</div>
<section id="b-banner-lg">
        <div class="b-banner_lg mt-5">
          <div class="b-banner_lg_single">
            <div class="clearfix">
              <div class="col-xl-6 col-lg-6 col-mb-6 col-sm-6 col-xs-12 p-0 float-left">
                    <div class="b-section_title">
                            <h4 class="text-center text-uppercase">
                           BEST SELLERS
                             <span class="b-title_separator"><span></span></span>
                            </h4>
                            
                   </div>
                   <div class="b-products b-product_grid b-product_grid_two mb-2">
               
                        <div class="row clearfix">
                            <div class="col-xl-6 col-lg-6 col-mb-6 col-sm-6 col-xs-12">
                                 <div class="b-product_grid_single">
                                   <div class="b-product_grid_header">
                                       <a href="#">
                                         <img data-src="assets/images/products/home/product_grid_01_01.jpg, assets/images/products/home/product_grid_01_02.jpg" src="assets/images/products/home/product_grid_01_01.jpg" class="img-fluid img-switch d-block" alt="">
                                       </a> 
                                       <div class="b-product_grid_action">
                                         <a href="javascript:void(0)" data-whishurl="whishlist.html" data-toggle="tooltip" data-placement="left" title="Add to Whishlist">
                                           <i class="icon-heart icons b-add_to_whish">
                                             <img src="assets/images/products/product_loading.gif" class="g-loading_gif" alt="">
                                           </i>
                                         </a>
                                         <i data-toggle="tooltip" data-placement="left" title="Compare" class="icon-refresh icons"></i>
                                         <a href="javascript:void(0)" data-toggle="modal" data-target="#b-qucik_view">
                                           <i data-toggle="tooltip" data-placement="left" title="Quick View" class="icon-magnifier-add icons" ></i>
                                         </a>
                                       </div>
                                   </div>
                                   <div class="b-product_grid_info">
                                      <h3 class="product-title">
                                          <a href="#">Houble strap backpack</a>
                                      </h3>
                                      <div class="clearfix">
                                        <div class="b-product_grid_toggle float-left">
                                            <span class="b-price">$120</span>
                                            <span class="b-add_cart">
                                                <i class="icon-basket icons"></i>
                                                <a href="#">Select Options</a>
                                            </span>
                                        </div>
                                        <div class="b-product_options float-right">
                                           <ul class="pl-0 mb-0 list-unstyled">
                                               <li>
                                                 <span data-toggle="tooltip" title="Black" class="b-black"></span>
                                               </li>
                                               <li>
                                                 <span data-toggle="tooltip" title="Blue" class="b-blue"></span>
                                               </li> 
                                           </ul>
                                       </div>
                                      </div>
                                   </div>
                                 </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-mb-6 col-sm-6 col-xs-12">
                              <div class="b-product_grid_single">
                                 <div class="b-product_grid_header">
                                     <a href="#">
                                       <img data-src="assets/images/products/home/product_grid_02_01.jpg, assets/images/products/home/product_grid_02_02.jpg" src="assets/images/products/home/product_grid_02_01.jpg" class="img-fluid img-switch d-block" alt="">
                                     </a> 
                                     <div class="b-product_grid_action">
                                       <a href="javascript:void(0)" data-whishurl="whishlist.html" data-toggle="tooltip" data-placement="left" title="Add to Whishlist">
                                         <i class="icon-heart icons b-add_to_whish">
                                           <img src="assets/images/products/product_loading.gif" class="g-loading_gif" alt="">
                                         </i>
                                       </a>
                                       <i data-toggle="tooltip" data-placement="left" title="Compare" class="icon-refresh icons"></i>
                                       <a href="javascript:void(0)" data-toggle="modal" data-target="#b-qucik_view">
                                           <i data-toggle="tooltip" data-placement="left" title="Quick View" class="icon-magnifier-add icons" ></i>
                                         </a>
                                     </div>
                                     <div class="b-product_labels b-labels_rounded b-new">
                                      <span class="b-product_label">New</span>
                                     </div>
                                 </div>
                                 <div class="b-product_grid_info">
                                      <h3 class="product-title">
                                          <a href="#">Basic contrast sneakers</a>
                                      </h3>
                                      <div class="clearfix">
                                        <div class="b-product_grid_toggle float-left">
                                            <span class="b-price">$20</span>
                                            <span class="b-add_cart">
                                                <i class="icon-basket icons"></i>
                                                <a href="#">Select Options</a>
                                            </span>
                                        </div>
                                        <div class="b-product_options float-right">
                                           <ul class="pl-0 mb-0 list-unstyled">
                                               <li>
                                                 <span data-toggle="tooltip" title="Black" class="b-black"></span>
                                               </li>
                                               <li>
                                                 <span data-toggle="tooltip" title="Brown" class="b-brown"></span>
                                               </li>
                                               <li>
                                                 <span data-toggle="tooltip" title="Red" class="b-red"></span>
                                               </li> 
                                           </ul>
                                       </div>
                                      </div>
                                 </div>
                              </div>   
                            </div>
                        </div>
            
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-mb-6 col-sm-6 col-xs-12 p-0 b-banner_view_area float-right">
                <div class="b-text_section text-center">
                  <div class="b-text_section_content">
               <h3>GENTEC</h3>   
                    <span class="d-block mb-3 mt-1">MINIMALISTIC AJAX E-COMMERCE THEME</span>
                    <p class="pb-2 hidden-lg-down">
                      Adipiscing dignissim euismod ad venenatis volutpat sociis feugiat purus  <br> ridiculus rhoncus nullam sodales euismod ad venenatis volutpa ridiculus.  
                    </p>
                    <a href="#" class="btn">PURCHASE BASEL</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
    
        </div>
      </section>
