<div class="rev_slider_wrapper fullwidthbanner-container" data-alias="classic4export" data-source="gallery">
    <div id="b-home_01_slider" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.4.1">
        <ul>
            <li data-index="rs-30" data-transition="zoomout" data-slotamount="default" data-hideafterloop="0"
                data-hideslideonmobile="off" data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut"
                data-masterspeed="2000" data-thumb="assets/images/slider/home-cosmetic/main-big-banner-1.jpg"
                data-rotate="0" data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7"
                data-saveperformance="off" data-title="Intro" data-param1="" data-param2="" data-param3="" data-param4=""
                data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10=""
                data-description="">
                <img src="assets/images/slider/home-cosmetic/main-big-banner-1.jpg" alt="" data-bgposition="center center"
                    data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg"
                    data-no-retina>
                <div class="tp-caption  tp-resizeme" data-x="['left','left','left','center']" data-hoffset="['300','300','170','0']"
                    data-y="['top','top','top','top']" data-voffset="['210','210','210','100']" data-fontsize="['22','22','22','20']"
                    data-width="none" data-height="none" data-whitespace="nowrap" data-type="text"
                    data-responsive_offset="on" data-frames='[{"delay":500,"speed":700,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":600,"frame":"999","to":"x:-50px;opacity:0;","ease":"nothing"}]'
                    data-textalign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]"
                    data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="line-height: 22px; font-weight: bold; text-transform: uppercase; color: #000; z-index: 999">
                    Shop & save today
                </div>
                <div class="tp-caption tp-resizeme" data-x="['left','left','left','center']" data-hoffset="['130','100','50','0']"
                    data-y="['top','top','top','top']" data-voffset="['250','250','230','130']" data-fontsize="['30','30','24','24']"
                    data-width="none" data-height="none" data-whitespace="nowrap" data-type="text"
                    data-responsive_offset="on" data-frames='[{"delay":700,"speed":700,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":500,"frame":"999","to":"y:50px;opacity:0;","ease":"nothing"}]'
                    data-textalign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
                    data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="font-family: Lora; color: #000; line-height: 60px; text-align: center; text-transform: uppercase; z-index: 999; font-weight: 600">Pink
                    and gold lipsticks for every
                </div>
                <div class="tp-caption tp-resizeme" data-x="['left','left','left','center']" data-hoffset="['100','100','70','0']"
                    data-y="['top','top','top','top']" data-voffset="['300','300','270','180']" data-fontsize="['30','30','20','20']"
                    data-width="none" data-height="none" data-whitespace="nowrap" data-type="text"
                    data-responsive_offset="on" data-frames='[{"delay":700,"speed":700,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":500,"frame":"999","to":"y:50px;opacity:0;","ease":"nothing"}]'
                    data-textalign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
                    data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="font-family: Lora; color: #000; line-height: 60px; text-align: center; text-transform: uppercase; z-index: 999; font-weight: 600">skintone
                    new trending in 2016 season
                </div>
                <div class="tp-caption tp-resizeme" data-x="['left','left','left','center']" data-hoffset="['350','350','200','0']"
                    data-y="['top','top','top','top']" data-voffset="['380','380','330','250']" data-fontsize="['73','73','73','40']"
                    data-width="none" data-height="none" data-whitespace="nowrap" data-type="text"
                    data-responsive_offset="on" data-frames='[{"delay":700,"speed":700,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":500,"frame":"999","to":"y:50px;opacity:0;","ease":"nothing"}]'
                    data-textalign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
                    data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]">
                    <a href="#" class="btn" style="background-color: #000; color: #fff;">LEARN MORE</a>
                </div>
            </li>
            <li data-index="rs-6" data-transition="zoomout" data-slotamount="default" data-hideafterloop="0"
                data-hideslideonmobile="off" data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut"
                data-masterspeed="2000" data-thumb="assets/images/slider/home-cosmetic/main-big-banner-2.jpg"
                data-rotate="0" data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7"
                data-saveperformance="off" data-title="Intro" data-param1="" data-param2="" data-param3="" data-param4=""
                data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10=""
                data-description="">
                <img src="assets/images/slider/home-cosmetic/main-big-banner-2.jpg" alt="" data-bgposition="center center"
                    data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg"
                    data-no-retina>
                <div class="tp-caption  tp-resizeme" data-x="['left','left','left','center']" data-hoffset="['300','300','170','0']"
                    data-y="['top','top','top','top']" data-voffset="['210','210','210','100']" data-fontsize="['22','22','22','20']"
                    data-width="none" data-height="none" data-whitespace="nowrap" data-type="text"
                    data-responsive_offset="on" data-frames='[{"delay":500,"speed":700,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":600,"frame":"999","to":"x:-50px;opacity:0;","ease":"nothing"}]'
                    data-textalign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]"
                    data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="line-height: 22px; font-weight: bold; text-transform: uppercase; color: #000; z-index: 999">
                    Shop & save today
                </div>
                <div class="tp-caption tp-resizeme" data-x="['left','left','left','center']" data-hoffset="['130','100','50','0']"
                    data-y="['top','top','top','top']" data-voffset="['250','250','230','130']" data-fontsize="['30','30','24','24']"
                    data-width="none" data-height="none" data-whitespace="nowrap" data-type="text"
                    data-responsive_offset="on" data-frames='[{"delay":700,"speed":700,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":500,"frame":"999","to":"y:50px;opacity:0;","ease":"nothing"}]'
                    data-textalign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
                    data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="font-family: Lora; color: #000; line-height: 60px; text-align: center; text-transform: uppercase; z-index: 999; font-weight: 600">Pink
                    and gold lipsticks for every
                </div>
                <div class="tp-caption tp-resizeme" data-x="['left','left','left','center']" data-hoffset="['100','100','70','0']"
                    data-y="['top','top','top','top']" data-voffset="['300','300','270','180']" data-fontsize="['30','30','20','20']"
                    data-width="none" data-height="none" data-whitespace="nowrap" data-type="text"
                    data-responsive_offset="on" data-frames='[{"delay":700,"speed":700,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":500,"frame":"999","to":"y:50px;opacity:0;","ease":"nothing"}]'
                    data-textalign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
                    data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="font-family: Lora; color: #000; line-height: 60px; text-align: center; text-transform: uppercase; z-index: 999; font-weight: 600">skintone
                    new trending in 2016 season
                </div>
                <div class="tp-caption tp-resizeme" data-x="['left','left','left','center']" data-hoffset="['350','350','200','0']"
                    data-y="['top','top','top','top']" data-voffset="['380','380','330','250']" data-fontsize="['73','73','73','40']"
                    data-width="none" data-height="none" data-whitespace="nowrap" data-type="text"
                    data-responsive_offset="on" data-frames='[{"delay":700,"speed":700,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":500,"frame":"999","to":"y:50px;opacity:0;","ease":"nothing"}]'
                    data-textalign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
                    data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]">
                    <a href="#" class="btn" style="background-color: #000; color: #fff;">LEARN MORE</a>
                </div>
            </li>
        </ul>
        <div class="tp-bannertimer" style="height: 7px; background-color: rgba(255, 255, 255, 0.25);"></div>
    </div>
</div>

<section id="b-our_story">
    <div class="b-our_story pt-5 pb-5">
        <div class="container-fluid">
            <div class="row clearfix">
   
                <div class="col-xl-6 col-lg-6 col-mb-6 col-sm-6 col-xs-12 text-center">
                    <div class="b-section_title">
                      <!-- <span class="b-section_title_over d-block text-center">Accessories store</span> -->
                      <h4 class="text-center text-uppercase">
                       BEST SELLERS
                        <span class="b-title_separator"><span></span></span>
                      </h4>
                      <div class="b-products b-product_grid b-product_grid_two mb-2">
                            
                                <div class="row clearfix">
                                    <div class="col-xl-6 col-lg-6 col-mb-6 col-sm-6 col-xs-12">
                                         <div class="b-product_grid_single">
                                           <div class="b-product_grid_header">
                                               <a href="#">
                                                 <img data-src="assets/images/products/home/product_grid_01_01.jpg, assets/images/products/home/product_grid_01_02.jpg" src="assets/images/products/home/product_grid_01_01.jpg" class="img-fluid img-switch d-block" alt="">
                                               </a> 
                                               <div class="b-product_grid_action">
                                                 <a href="javascript:void(0)" data-whishurl="whishlist.html" data-toggle="tooltip" data-placement="left" title="Add to Whishlist">
                                                   <i class="icon-heart icons b-add_to_whish">
                                                     <img src="assets/images/products/product_loading.gif" class="g-loading_gif" alt="">
                                                   </i>
                                                 </a>
                                                 <i data-toggle="tooltip" data-placement="left" title="Compare" class="icon-refresh icons"></i>
                                                 <a href="javascript:void(0)" data-toggle="modal" data-target="#b-qucik_view">
                                                   <i data-toggle="tooltip" data-placement="left" title="Quick View" class="icon-magnifier-add icons" ></i>
                                                 </a>
                                               </div>
                                           </div>
                                           <div class="b-product_grid_info">
                                              <h3 class="product-title">
                                                  <a href="#">Houble strap backpack</a>
                                              </h3>
                                              <div class="clearfix">
                                                <div class="b-product_grid_toggle float-left">
                                                    <span class="b-price">$120</span>
                                                    <span class="b-add_cart">
                                                        <i class="icon-basket icons"></i>
                                                        <a href="#">Select Options</a>
                                                    </span>
                                                </div>
                                                <div class="b-product_options float-right">
                                                   <ul class="pl-0 mb-0 list-unstyled">
                                                       <li>
                                                         <span data-toggle="tooltip" title="Black" class="b-black"></span>
                                                       </li>
                                                       <li>
                                                         <span data-toggle="tooltip" title="Blue" class="b-blue"></span>
                                                       </li> 
                                                   </ul>
                                               </div>
                                              </div>
                                           </div>
                                         </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-mb-6 col-sm-6 col-xs-12">
                                      <div class="b-product_grid_single">
                                         <div class="b-product_grid_header">
                                             <a href="#">
                                               <img data-src="assets/images/products/home/product_grid_02_01.jpg, assets/images/products/home/product_grid_02_02.jpg" src="assets/images/products/home/product_grid_02_01.jpg" class="img-fluid img-switch d-block" alt="">
                                             </a> 
                                             <div class="b-product_grid_action">
                                               <a href="javascript:void(0)" data-whishurl="whishlist.html" data-toggle="tooltip" data-placement="left" title="Add to Whishlist">
                                                 <i class="icon-heart icons b-add_to_whish">
                                                   <img src="assets/images/products/product_loading.gif" class="g-loading_gif" alt="">
                                                 </i>
                                               </a>
                                               <i data-toggle="tooltip" data-placement="left" title="Compare" class="icon-refresh icons"></i>
                                               <a href="javascript:void(0)" data-toggle="modal" data-target="#b-qucik_view">
                                                   <i data-toggle="tooltip" data-placement="left" title="Quick View" class="icon-magnifier-add icons" ></i>
                                                 </a>
                                             </div>
                                             <div class="b-product_labels b-labels_rounded b-new">
                                              <span class="b-product_label">New</span>
                                             </div>
                                         </div>
                                         <div class="b-product_grid_info">
                                              <h3 class="product-title">
                                                  <a href="#">Basic contrast sneakers</a>
                                              </h3>
                                              <div class="clearfix">
                                                <div class="b-product_grid_toggle float-left">
                                                    <span class="b-price">$20</span>
                                                    <span class="b-add_cart">
                                                        <i class="icon-basket icons"></i>
                                                        <a href="#">Select Options</a>
                                                    </span>
                                                </div>
                                                <div class="b-product_options float-right">
                                                   <ul class="pl-0 mb-0 list-unstyled">
                                                       <li>
                                                         <span data-toggle="tooltip" title="Black" class="b-black"></span>
                                                       </li>
                                                       <li>
                                                         <span data-toggle="tooltip" title="Brown" class="b-brown"></span>
                                                       </li>
                                                       <li>
                                                         <span data-toggle="tooltip" title="Red" class="b-red"></span>
                                                       </li> 
                                                   </ul>
                                               </div>
                                              </div>
                                         </div>
                                      </div>   
                                    </div>
                                </div>
                           
                          </div>
                    <!-- </div>
                    <p class="mb-4">
                        Duis senectus condimentum a fringilla donec non adipiscing nullam posuere eros ac turpis mi lectus nunc congue vestibulum. Facilisis lobortis cursus morbi sociosqu tortor condimentum elementum a at conubia vestibulum adipiscing pretium fringilla sit a habitant sed a dui mauris.
                    </p>
                    <a href="#" class="btn btn-bg text-uppercase">read our story</a> -->
                </div>                </div>
                <div class="col-xl-6 col-lg-6 col-mb-6 col-sm-6 col-xs-12">
                        <div class="b-section_title">
                                <span class="b-section_title_over d-block text-center">Latest Articles</span>
                                <h4 class="text-center text-uppercase">
                                  PROMOTIONS
                                  <span class="b-title_separator"><span></span></span>
                                </h4>
                              </div>
                    <div class="clearfix m-0 row">
                        <div class="col-xl-6 col-lg-6 col-mb-6 col-sm-6 col-xs-12 p-0">
                            <img src="assets/images/story/dark-about-1.jpg" class="d-block m-auto img-fluid" style="padding: 1px;" alt="">
                        </div>   
                        <div class="col-xl-6 col-lg-6 col-mb-6 col-sm-6 col-xs-12 p-0">
                            <img src="assets/images/story/dark-about-2.jpg" class="d-block m-auto img-fluid" style="padding: 1px;" alt="">
                        </div>
                        <div class="col-xl-6 col-lg-6 col-mb-6 col-sm-6 col-xs-12 p-0">
                            <img src="assets/images/story/dark-about-3.jpg" class="d-block m-auto img-fluid" style="padding: 1px;" alt="">
                        </div>
                        <div class="col-xl-6 col-lg-6 col-mb-6 col-sm-6 col-xs-12 p-0">
                            <img src="assets/images/story/dark-about-4.jpg" class="d-block m-auto img-fluid" style="padding: 1px;" alt="">
                        </div> 
                    </div> 
                </div> 
            </div>
        </div>
    </div>
  </section>
  <section id="b-blog" style="background-color: #fbf6f6;">
        <!-- <div class="b-section_title">
            <h4 class="text-center text-uppercase">
              LATEST NEWS
              <span class="b-title_separator"><span></span></span>
            </h4>
        </div> -->
        <div class="b-blog b-blog_grid text-center b-blog_grid_three mb-5 pt-5">
            <div class="container">
                <div class="row clearfix">
                    <div class="col-xl-4 col-lg-4 col-mb-4 col-sm-6 col-xs-12">
                        <div class="b-blog_grid_single">
                          <div class="b-blog_single_header">
                              <div class="b-blog_img_wrap">
                                  <a href="#">
                                      <img src="assets/images/blog/home/cat_grid_03_01.jpg" class="img-fluid d-block" alt="">
                                  </a>
                              </div>
                              <!-- <div class="b-post_time">
                                  <span class="b-post_day">08</span>
                                  <span class="b-post_month">Aug</span>
                              </div> -->
                              <!-- <div class="b-post_categories">
                                 <div class="b-post_categorie_list">
                                    <a href="#" rel="category tag">Creative</a>, 
                                    <a href="#" rel="category tag">Hobbies</a>
                                 </div>
                              </div> -->
                          </div>  
                          <div class="b-blog_single_info">
                              <h3 class="b-entry_title pt-2">
                                  <a href="#" rel="bookmark">Venenatis veulum peus</a>
                              </h3>
                              <!-- <div class="b-author_info">
                                  <span class="b-author_name">
                                      By <a href="#" rel="author">V. Harrison</a>
                                  </span>
                                  <span class="b-reply">
                                      <a href="#">Leave a comment</a>
                                  </span>
                              </div> -->
                              <div class="b-blog_single_content">
                                  <p>Sociosqu scele risque aliquet penatibus pretium vesti bulum imperdiet ad metus a tempus congue a venenatis condi mentum parturient dis</p>
                              </div>
                          </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-mb-4 col-sm-6 col-xs-12">
                        <div class="b-blog_grid_single">
                          <div class="b-blog_single_header">
                              <div class="b-blog_img_wrap">
                                  <a href="#">
                                      <img src="assets/images/blog/home/cat_grid_03_02.jpg" class="img-fluid d-block" alt="">
                                  </a>
                              </div>
                              <!-- <div class="b-post_time">
                                  <span class="b-post_day">08</span>
                                  <span class="b-post_month">Aug</span>
                              </div>
                              <div class="b-post_categories">
                                 <div class="b-post_categorie_list">
                                    <a href="#" rel="category tag">Creative</a>, 
                                    <a href="#" rel="category tag">Hobbies</a>
                                 </div>
                              </div> -->
                          </div>  
                          <div class="b-blog_single_info">
                              <h3 class="b-entry_title pt-2">
                                  <a href="#" rel="bookmark">Hac fames tempor</a>
                              </h3>
                              <!-- <div class="b-author_info">
                                  <span class="b-author_name">
                                      By <a href="#" rel="author">V. Harrison</a>
                                  </span>
                                  <span class="b-reply">
                                      <a href="#">Leave a comment</a>
                                  </span>
                              </div> -->
                              <div class="b-blog_single_content">
                                  <p>Egestas mus a mus rhoncus adipiscing iaculis facilisis a eu nunc varius a per parturient vestibulum suspendisse aenean semper velit aliquam</p>
                              </div>
                          </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-mb-4 col-sm-6 col-xs-12">
                        <div class="b-blog_grid_single">
                          <div class="b-blog_single_header">
                              <div class="b-blog_img_wrap">
                                  <a href="#">
                                      <img src="assets/images/blog/home/cat_grid_03_03.jpg" class="img-fluid d-block" alt="">
                                  </a>
                              </div>
                              <!-- <div class="b-post_time">
                                  <span class="b-post_day">08</span>
                                  <span class="b-post_month">Aug</span>
                              </div>
                              <div class="b-post_categories">
                                 <div class="b-post_categorie_list">
                                    <a href="#" rel="category tag">Creative</a>, 
                                    <a href="#" rel="category tag">Hobbies</a>
                                 </div>
                              </div> -->
                          </div>  
                          <div class="b-blog_single_info">
                              <h3 class="b-entry_title pt-2">
                                  <a href="#" rel="bookmark">Urna ligula inceptos</a>
                              </h3>
                              <!-- <div class="b-author_info">
                                  <span class="b-author_name">
                                      By <a href="#" rel="author">V. Harrison</a>
                                  </span>
                                  <span class="b-reply">
                                      <a href="#">Leave a comment</a>
                                  </span>
                              </div> -->
                              <div class="b-blog_single_content">
                                  <p>Vestibulum malesuada elit sit placerat congue viverra congue orci cras mus sociis non mi enim cum ante. Condimentum ac ac ullamcorper ar</p>
                              </div>
                          </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-mb-4 col-sm-6 col-xs-12">
                            <div class="b-blog_grid_single">
                              <div class="b-blog_single_header">
                                  <div class="b-blog_img_wrap">
                                      <a href="#">
                                          <img src="assets/images/blog/home/cat_grid_03_01.jpg" class="img-fluid d-block" alt="">
                                      </a>
                                  </div>
                                  <!-- <div class="b-post_time">
                                      <span class="b-post_day">08</span>
                                      <span class="b-post_month">Aug</span>
                                  </div> -->
                                  <!-- <div class="b-post_categories">
                                     <div class="b-post_categorie_list">
                                        <a href="#" rel="category tag">Creative</a>, 
                                        <a href="#" rel="category tag">Hobbies</a>
                                     </div>
                                  </div> -->
                              </div>  
                              <div class="b-blog_single_info">
                                  <h3 class="b-entry_title pt-2">
                                      <a href="#" rel="bookmark">Venenatis veulum peus</a>
                                  </h3>
                                  <!-- <div class="b-author_info">
                                      <span class="b-author_name">
                                          By <a href="#" rel="author">V. Harrison</a>
                                      </span>
                                      <span class="b-reply">
                                          <a href="#">Leave a comment</a>
                                      </span>
                                  </div> -->
                                  <div class="b-blog_single_content">
                                      <p>Sociosqu scele risque aliquet penatibus pretium vesti bulum imperdiet ad metus a tempus congue a venenatis condi mentum parturient dis</p>
                                  </div>
                              </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-mb-4 col-sm-6 col-xs-12">
                            <div class="b-blog_grid_single">
                              <div class="b-blog_single_header">
                                  <div class="b-blog_img_wrap">
                                      <a href="#">
                                          <img src="assets/images/blog/home/cat_grid_03_02.jpg" class="img-fluid d-block" alt="">
                                      </a>
                                  </div>
                                  <!-- <div class="b-post_time">
                                      <span class="b-post_day">08</span>
                                      <span class="b-post_month">Aug</span>
                                  </div>
                                  <div class="b-post_categories">
                                     <div class="b-post_categorie_list">
                                        <a href="#" rel="category tag">Creative</a>, 
                                        <a href="#" rel="category tag">Hobbies</a>
                                     </div>
                                  </div> -->
                              </div>  
                              <div class="b-blog_single_info">
                                  <h3 class="b-entry_title pt-2">
                                      <a href="#" rel="bookmark">Hac fames tempor</a>
                                  </h3>
                                  <!-- <div class="b-author_info">
                                      <span class="b-author_name">
                                          By <a href="#" rel="author">V. Harrison</a>
                                      </span>
                                      <span class="b-reply">
                                          <a href="#">Leave a comment</a>
                                      </span>
                                  </div> -->
                                  <div class="b-blog_single_content">
                                      <p>Egestas mus a mus rhoncus adipiscing iaculis facilisis a eu nunc varius a per parturient vestibulum suspendisse aenean semper velit aliquam</p>
                                  </div>
                              </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-mb-4 col-sm-6 col-xs-12">
                            <div class="b-blog_grid_single">
                              <div class="b-blog_single_header">
                                  <div class="b-blog_img_wrap">
                                      <a href="#">
                                          <img src="assets/images/blog/home/cat_grid_03_03.jpg" class="img-fluid d-block" alt="">
                                      </a>
                                  </div>
                                  <!-- <div class="b-post_time">
                                      <span class="b-post_day">08</span>
                                      <span class="b-post_month">Aug</span>
                                  </div>
                                  <div class="b-post_categories">
                                     <div class="b-post_categorie_list">
                                        <a href="#" rel="category tag">Creative</a>, 
                                        <a href="#" rel="category tag">Hobbies</a>
                                     </div>
                                  </div> -->
                              </div>  
                              <div class="b-blog_single_info">
                                  <h3 class="b-entry_title pt-2">
                                      <a href="#" rel="bookmark">Urna ligula inceptos</a>
                                  </h3>
                                  <!-- <div class="b-author_info">
                                      <span class="b-author_name">
                                          By <a href="#" rel="author">V. Harrison</a>
                                      </span>
                                      <span class="b-reply">
                                          <a href="#">Leave a comment</a>
                                      </span>
                                  </div> -->
                                  <div class="b-blog_single_content">
                                      <p>Vestibulum malesuada elit sit placerat congue viverra congue orci cras mus sociis non mi enim cum ante. Condimentum ac ac ullamcorper ar</p>
                                  </div>
                              </div>
                            </div>
                        </div>
                </div>
                <!-- <div class="b-load_more text-center">
                    <a href="#" class="btn b-blog_load_more">Load More Posts</a>
                </div> -->
            </div>
        </div>
    </section>

    <section id="b-our_story">
            <div class="b-our_story pb-5">
                <div class="container">
                    <div class="row clearfix">
                        <div class="col-xl-3 col-lg-3 col-mb-3 col-sm-3 col-xs-12">
             
                              
                                    <img src="assets/images/story/dark-about-1.jpg" class="d-block m-auto img-fluid" style="padding: 1px;" alt="">
                          
                     
  
                        </div>    
                        <div class="col-xl-9 col-lg-9 col-mb-9 col-sm-9 col-xs-12 ">
                            <div class="b-section_title">
                              <h4 class="text-uppercase">OUR STORY</h4>
                            </div>
                            <p class="mb-4">
                                Duis senectus condimentum a fringilla donec non adipiscing nullam posuere eros ac turpis mi lectus nunc congue vestibulum. Facilisis lobortis cursus morbi sociosqu tortor condimentum elementum a at conubia vestibulum adipiscing pretium fringilla sit a habitant sed a dui mauris.
                            </p>
                            <!-- <a href="#" class="btn btn-bg text-uppercase">read our story</a> -->
                        </div>
                    </div>
                </div>
            </div>
          </section>   
<!-- <section id="b-banner-lg">
        <div class="b-banner_lg mt-5">
          <div class="b-banner_lg_single">
            <div class="clearfix">
              <div class="col-xl-6 col-lg-6 col-mb-6 col-sm-6 col-xs-12 p-0 float-left">
                    <div class="b-section_title">
                            <h4 class="text-center text-uppercase">
                           BEST SELLERS
                             <span class="b-title_separator"><span></span></span>
                            </h4>
                            
                   </div>
                   <div class="b-products b-product_grid b-product_grid_two mb-2">
               
                        <div class="row clearfix">
                            <div class="col-xl-6 col-lg-6 col-mb-6 col-sm-6 col-xs-12">
                                 <div class="b-product_grid_single">
                                   <div class="b-product_grid_header">
                                       <a href="#">
                                         <img data-src="assets/images/products/home/product_grid_01_01.jpg, assets/images/products/home/product_grid_01_02.jpg" src="assets/images/products/home/product_grid_01_01.jpg" class="img-fluid img-switch d-block" alt="">
                                       </a> 
                                       <div class="b-product_grid_action">
                                         <a href="javascript:void(0)" data-whishurl="whishlist.html" data-toggle="tooltip" data-placement="left" title="Add to Whishlist">
                                           <i class="icon-heart icons b-add_to_whish">
                                             <img src="assets/images/products/product_loading.gif" class="g-loading_gif" alt="">
                                           </i>
                                         </a>
                                         <i data-toggle="tooltip" data-placement="left" title="Compare" class="icon-refresh icons"></i>
                                         <a href="javascript:void(0)" data-toggle="modal" data-target="#b-qucik_view">
                                           <i data-toggle="tooltip" data-placement="left" title="Quick View" class="icon-magnifier-add icons" ></i>
                                         </a>
                                       </div>
                                   </div>
                                   <div class="b-product_grid_info">
                                      <h3 class="product-title">
                                          <a href="#">Houble strap backpack</a>
                                      </h3>
                                      <div class="clearfix">
                                        <div class="b-product_grid_toggle float-left">
                                            <span class="b-price">$120</span>
                                            <span class="b-add_cart">
                                                <i class="icon-basket icons"></i>
                                                <a href="#">Select Options</a>
                                            </span>
                                        </div>
                                        <div class="b-product_options float-right">
                                           <ul class="pl-0 mb-0 list-unstyled">
                                               <li>
                                                 <span data-toggle="tooltip" title="Black" class="b-black"></span>
                                               </li>
                                               <li>
                                                 <span data-toggle="tooltip" title="Blue" class="b-blue"></span>
                                               </li> 
                                           </ul>
                                       </div>
                                      </div>
                                   </div>
                                 </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-mb-6 col-sm-6 col-xs-12">
                              <div class="b-product_grid_single">
                                 <div class="b-product_grid_header">
                                     <a href="#">
                                       <img data-src="assets/images/products/home/product_grid_02_01.jpg, assets/images/products/home/product_grid_02_02.jpg" src="assets/images/products/home/product_grid_02_01.jpg" class="img-fluid img-switch d-block" alt="">
                                     </a> 
                                     <div class="b-product_grid_action">
                                       <a href="javascript:void(0)" data-whishurl="whishlist.html" data-toggle="tooltip" data-placement="left" title="Add to Whishlist">
                                         <i class="icon-heart icons b-add_to_whish">
                                           <img src="assets/images/products/product_loading.gif" class="g-loading_gif" alt="">
                                         </i>
                                       </a>
                                       <i data-toggle="tooltip" data-placement="left" title="Compare" class="icon-refresh icons"></i>
                                       <a href="javascript:void(0)" data-toggle="modal" data-target="#b-qucik_view">
                                           <i data-toggle="tooltip" data-placement="left" title="Quick View" class="icon-magnifier-add icons" ></i>
                                         </a>
                                     </div>
                                     <div class="b-product_labels b-labels_rounded b-new">
                                      <span class="b-product_label">New</span>
                                     </div>
                                 </div>
                                 <div class="b-product_grid_info">
                                      <h3 class="product-title">
                                          <a href="#">Basic contrast sneakers</a>
                                      </h3>
                                      <div class="clearfix">
                                        <div class="b-product_grid_toggle float-left">
                                            <span class="b-price">$20</span>
                                            <span class="b-add_cart">
                                                <i class="icon-basket icons"></i>
                                                <a href="#">Select Options</a>
                                            </span>
                                        </div>
                                        <div class="b-product_options float-right">
                                           <ul class="pl-0 mb-0 list-unstyled">
                                               <li>
                                                 <span data-toggle="tooltip" title="Black" class="b-black"></span>
                                               </li>
                                               <li>
                                                 <span data-toggle="tooltip" title="Brown" class="b-brown"></span>
                                               </li>
                                               <li>
                                                 <span data-toggle="tooltip" title="Red" class="b-red"></span>
                                               </li> 
                                           </ul>
                                       </div>
                                      </div>
                                 </div>
                              </div>   
                            </div>
                        </div>
            
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-mb-6 col-sm-6 col-xs-12 p-0 b-banner_view_area float-right">
                <div class="b-text_section text-center">
                  <div class="b-text_section_content">
               <h3>GENTEC</h3>   
                    <span class="d-block mb-3 mt-1">MINIMALISTIC AJAX E-COMMERCE THEME</span>
                    <p class="pb-2 hidden-lg-down">
                      Adipiscing dignissim euismod ad venenatis volutpat sociis feugiat purus  <br> ridiculus rhoncus nullam sodales euismod ad venenatis volutpa ridiculus.  
                    </p>
                    <a href="#" class="btn">PURCHASE BASEL</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
    
        </div>
      </section> -->
