<div *ngIf="vs.showAddProjectModal; else projectList">
  <add-project [hideForm]="vs.showAddProjectModal"></add-project>
</div>

<ng-template #projectList>
  <div class="modal-header">
    <h3 class="modal-title" id="modal-basic-title">Add "{{product?.productTitle}}" to Project</h3>
    <button type="button" class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-sm-12" *ngIf="success">
        <div class="alert alert-success">
          <i class="fa fa-check-circle-o fa-fw"></i> {{message}}
          <button (click)="success = false;" type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <!-- <form [formGroup]="" novalidate>
          <div class="clearfix row">
            <div class="col-xl-12 col-lg-12 col-mb-12 col-sm-12 col-xs-12">
              <form [formGroup]="form">
                <div class="form-group row">
                  <label for="inputPassword" class="col-sm-12 col-form-label">Select Project</label>
                  <div class="col-sm-6">
                    <select name="" id="projectName" formControlName="projectName" [(ngModel)]="filter">
                      <option *ngIf="!projects" value=""><i>Loading...</i></option>
                      <option *ngIf="projects" value="select"><i>select</i></option>
                      <option *ngFor="let project of projects" value="{{project?.code}}">{{project?.projectName | titlecase}}</option>
                    </select>
                    
                  </div>
                  <button style="margin-right:5px;" (click)="addProductToProject()" type="button" class="btn btn-info"><i class="fa fa-plus fa-fw"></i> ADD</button>
                  <button (click)="createNewProject()" type="button" class="btn btn-warning"><i class="fa fa-plus fa-fw"></i> CREATE NEW PROJECT</button>
                </div>
              </form>
            </div>
          </div>
        </form> -->
      </div>
      <div class="col-sm-12">
        <div class="panel panel-default">
          <div class="panel-heading" style="font-size:13px;">
            Please Specify the Project you'd like to add to:
            <!-- <a (click)="createNewProject()" class="pull-right hidden-sm-down" href="javascript:void(0)"><i class="fa fa-plus fa-fw"></i> create a new project</a> -->
          </div>
          <div class="panel-body">
            <ng-container *ngIf="!projects">
                <div class="spinner text-center p-3">
                  <img src="./assets/svg/oval.svg" class="img-fluid img-spinner" alt="">
                </div>
            </ng-container>
            <table class="table table-condensed" *ngIf="projects">
              <tbody>
                <ng-container *ngIf="projects">
                  <tr *ngFor="let project of projects">
                    <td width="90%" *ngIf="project?.added" class="align-middle">Product is in '<a href="#" routerLink="projects/{{project?.projectName}}.{{project?.code}}"
                        style="color:#5B5C5D">{{project?.projectName | titlecase}}</a>' Project.</td>
                    <td width="90%" *ngIf="!project?.added" class="align-middle">{{project?.projectName | titlecase}}</td>
                    <td width="10%">
                      <button *ngIf="project?.added" (click)="removeToProject(project)" class="btn btn-danger btn-sm">Remove</button>
                      <button *ngIf="!project?.added" (click)="addProductToProject(project)" class="btn btn-primary btn-sm">Add
                        To Project</button>
                    </td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
              <div class="mt-5" style="font-size: 12px;">
                Alternatively you can<a (click)="createNewProject()" class="" href="javascript:void(0)"> Create a new Project</a>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
        <button (click)="closeModal()" class="btn btn-danger pull-left">Close</button>
  </div>
</ng-template>