<div class="container">
  <div class="row clearfix">
    <div class="col-xl-3 col-lg-3 col-mb-4 col-sm-12 col-xs-12 b-sidebar_right d-none d-lg-block d-xl-block d-md-block">
      <div class="b-sidebar">
        <div class="b-filters_inner_area p-0">
          <div class="b-sidebar_widget categories">
            <h5 class="b-filter_title">PRODUCT CATEGORIES</h5>
            <div class="col-sm-12" *ngIf="!loader">
              <div class="spinner text-center p-5" *ngIf="!solutions?.length">
                <img src="./assets/svg/oval.svg" class="img-fluid img-spinner" alt="">
              </div>
            </div>
            <ul *ngIf="loader">
              <!-- <li *ngFor="let menu of finalMenu1" class="third-level">
                <a href="#" routerLink="/{{menu?.url}}" class="isparent">
                  <h5 class="text-uppercase">{{menu?.categoryName}}</h5>
                </a>
                <ul style="margin-bottom: 1rem;" *ngIf="menu?.sub?.length">
                  <li *ngFor="let sub of menu?.sub">
                    <a href="#" routerLink="/{{sub?.url}}" [ngClass]="sub?.isBold?'parentSub text-uppercase':''">{{sub?.subName | titlecase}}</a>
                  </li>
                </ul>
              </li> -->
              <ng-container *ngFor="let cat of menu2" >
                <li class="third-level">
                  <a href="#" routerLink="/category/{{cat?.value?.slug}}" class="isparent"> <h5 class="text-uppercase">{{cat?.value?.label | titlecase}}</h5></a>
                </li>
                <ng-container *ngFor="let child of cat?.value?.children" >
                  <li class="sub">
                    <a href="#" routerLink="/category/{{child?.slug}}">{{child?.label | titlecase}}</a>
                  </li>
                </ng-container>
                <!-- <ul> -->
                <!-- <li *ngIf="menu?.split('|').length == 1" class="sub">
                  <a href="#" routerLink="/category/{{menu?.split(' ').join('_') | lowercase}}">{{menu | titlecase}}</a>
                </li> -->
                <!-- </ul> -->
                </ng-container>

                <ng-container *ngFor="let cat of menu1" >
                  <li class="third-level">
                    <a href="#" routerLink="/category/{{cat?.value?.slug}}" class="isparent"> <h5 class="text-uppercase">{{cat?.value?.label | titlecase}}</h5></a>
                  </li>
                  <ng-container *ngFor="let child of cat?.value?.children" >
                    <li class="sub">
                      <a href="#" routerLink="/category/{{child?.slug}}">{{child?.label | titlecase}}</a>
                    </li>
                  </ng-container>
                  <!-- <ul> -->
                  <!-- <li *ngIf="menu?.split('|').length == 1" class="sub">
                    <a href="#" routerLink="/category/{{menu?.split(' ').join('_') | lowercase}}">{{menu | titlecase}}</a>
                  </li> -->
                  <!-- </ul> -->
                  </ng-container>

                  <ng-container *ngFor="let cat of menu3" >
                    <li class="third-level">
                      <a href="#" routerLink="/category/{{cat?.value?.slug}}" class="isparent"> <h5 class="text-uppercase">{{cat?.value?.label | titlecase}}</h5></a>
                    </li>
                    <ng-container *ngFor="let child of cat?.value?.children" >
                      <li class="sub">
                        <a href="#" routerLink="/category/{{child?.slug}}">{{child?.label | titlecase}}</a>
                      </li>
                    </ng-container>
                    <!-- <ul> -->
                    <!-- <li *ngIf="menu?.split('|').length == 1" class="sub">
                      <a href="#" routerLink="/category/{{menu?.split(' ').join('_') | lowercase}}">{{menu | titlecase}}</a>
                    </li> -->
                    <!-- </ul> -->
                    </ng-container>

              <!-- <li *ngFor="let menu of finalMenu3" class="third-level">
                <a href="#" routerLink="/{{menu?.url}}" class="isparent">
                  <h5 class="text-uppercase">{{menu?.categoryName}}</h5>
                </a>
                <ul style="margin-bottom: 1rem;" *ngIf="menu?.sub?.length">
                  <li *ngFor="let sub of menu?.sub">
                    <a href="#" routerLink="/{{sub?.url}}" [ngClass]="sub?.isBold?'parentSub text-uppercase':''">{{sub?.subName | titlecase}}</a>
                  </li>
                </ul>
              </li> -->
            </ul>
            <!-- <ul *ngFor="let category of categories">
              <li>
                <a href="#" routerLink="/category/{{category?.code}}" style="color: #1daaa3;">{{category?.parentCategory | uppercase}}</a>
              </li>
              <li *ngFor="let sub of category?.sub" class="third-level">
                <a href="#" routerLink="/category/{{sub?.code}}">{{sub?.parentCategory}}</a>
              </li>
              <ng-container *ngFor="let subParent of category?.subParent">
                <li class="second-level">
                  <a href="#" routerLink="/category/{{subParent?.code}}">{{subParent?.parentCategory}}</a>
                </li>
                <ng-container *ngIf="subParent?.sub">
                  <li class="third-level" *ngFor="let sub of subParent?.sub">
                    <a href="#" routerLink="/category/{{sub?.code}}">{{sub?.parentCategory}}</a>
                  </li>
                </ng-container>
              </ng-container>
            </ul> -->
            <!-- <div *ngFor="let cat of categories">
              <h6 class="column-title">
                <b>
                  <a href="#" routerLink="/category/{{cat.categoryCode}}" style="color:#333333;">{{cat?.categoryName | titlecase}}</a>
                </b>
              </h6>
              <ul>
                <li *ngFor="let sub of cat?.sub">
                  <a href="#" routerLink="/category/{{sub?.categoryCode}}">{{sub?.categoryName | titlecase}}</a>
                </li>
              </ul>
            </div> -->
             
          </div>
          <div class="b-sidebar_widget" *ngIf="solutions">
            <h5 class="b-filter_title">FILTER BY SOLUTION</h5>
            <!-- <form action="#" [formGroup]=""> -->
              <ul class="b-color_filter">
                <li *ngFor="let solution of solutions">
                  <a href="#" routerLink="/solution/{{solution?.value?.slug}}">
                    {{solution?.value?.name | titlecase}}
                  </a>
                  <!-- <span class="b-count float-right">(7)</span> -->
                </li>
              </ul> 
            <!-- </form> -->
          </div> 
          <!-- <div class="b-sidebar_widget">
            <h5 class="b-filter_title">SET FILTER RANGE</h5>
            <div class="gentec-filter-group">
              <div class="gentec-height-range-filter_inputs">
                <input type="text" maxlength="13" (keyup)="rangeFilter()" [(ngModel)]="range.minHeight" class="gentec-height-range-filter_input" placeholder="Height Min">
                <div class="gentec-height-range-filter_range-line"></div>
                <input type="text" maxlength="13" (keyup)="rangeFilter()" [(ngModel)]="range.maxHeight" class="gentec-height-range-filter_input" placeholder="Height Max">
              </div>
              <div class="gentec-height-range-filter_inputs">
                <input type="text" maxlength="13" (keyup)="rangeFilter()" [(ngModel)]="range.minWidth" class="gentec-height-range-filter_input" placeholder="Width Min">
                <div class="gentec-height-range-filter_range-line"></div>
                <input type="text" maxlength="13" (keyup)="rangeFilter()" [(ngModel)]="range.maxWidth" class="gentec-height-range-filter_input" placeholder="Width Max">
              </div>
              <div class="gentec-height-range-filter_inputs">
                <input type="text" maxlength="13" (keyup)="rangeFilter()" [(ngModel)]="range.minDepth" class="gentec-height-range-filter_input" placeholder="Depth Min">
                <div class="gentec-height-range-filter_range-line"></div>
                <input type="text" maxlength="13" (keyup)="rangeFilter()" [(ngModel)]="range.maxDepth" class="gentec-height-range-filter_input" placeholder="Depth Max">
              </div>
            </div> -->
            <!-- <form action="#" [formGroup]="">
              <ul class="b-list_ib">
                <li><a href="#" class="b-acitve">L <span class="b-count_number">(4)</span></a></li>
                <li><a href="#">M <span class="b-count_number">(9)</span></a></li>
                <li><a href="#">XL <span class="b-count_number">(7)</span></a></li>
                <li><a href="#">S <span class="b-count_number">(3)</span></a></li>
                <li><a href="#">XS <span class="b-count_number">(5)</span></a></li> 
              </ul> 
            </form> -->
          <!-- </div> -->
          <!-- <div class="b-sidebar_widget">
            <h5 class="b-filter_title">PRODUCT TAGS</h5>
            <ul class="pl-0 b-tag_list">
              <li><a href="#">bag</a></li>
              <li><a href="#">basic</a></li>
              <li><a href="#">Beautiful</a></li>
              <li><a href="#">Black</a></li>
              <li><a href="#">Classic</a></li>
              <li><a href="#">polo</a></li>
              <li><a href="#">new</a></li>
              <li><a href="#">red</a></li>
              <li><a href="#">Shirt</a></li>
              <li><a href="#">white</a></li>
            </ul>
          </div>  -->
          <!-- <div class="b-sidebar_widget">
            <h5 class="b-filter_title">Top rated products</h5>
            <ul class="pl-0 mb-0 list-unstyled b-rated_product">
              <li>
                <a href="#" class="b-recent_blog_img d-inline-block">
                    <img src="assets/images/blog/home/blog_recent_01.jpg" class="img-fluid d-block" alt="">
                </a>
                <h3><a href="#">VENENATIS VEULUM PEUS</a></h3>
                <span class="d-block mb-2">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </span>
                <span>£574.00</span>
              </li>
              <li>
                <a href="#" class="b-recent_blog_img d-inline-block">
                    <img src="assets/images/blog/home/blog_recent_02.jpg" class="img-fluid d-block" alt="">
                </a>
                <h3><a href="#">HAC FAMES TEMPOR</a></h3>
                <span class="d-block mb-2">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </span>
                <span>£545.00</span>
              </li>
              <li>
                <a href="#" class="b-recent_blog_img d-inline-block">
                    <img src="assets/images/blog/home/blog_recent_03.jpg" class="img-fluid d-block" alt="">
                </a>
                <h3><a href="#">URNA LIGULA INCEPTOS</a></h3>
                <span class="d-block mb-2">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </span>
                <span>£850.00</span>
              </li>
     
            </ul>
          </div>  -->
        </div>
      </div>
    </div>  
    <div class="col-xl-9 col-lg-9 col-mb-8 col-sm-12 col-xs-12"> 
      <div class="row clearfix b-shop_head"> 
        <div class="col-xl-6 col-lg-6 col-mb-6 col-sm-6 col-xs-12"> 
          <nav class="b-shop_breadcrumb">
            <a href="/">Home</a>
            <span *ngIf="params?.id === 'all'">All Catalogue</span>
            <span *ngIf="params?.solutionid === 'all'">All Solutions</span>
            <!-- <span *ngIf="params?.catName == 'solution'">All Solution</span> -->

            <!-- <a *ngIf="category" href="#" routerLink="/category/all">Category</a> -->
            <span *ngIf="params?.id !== 'all'">{{category?.name | titlecase}}</span>

            <!-- <a *ngIf="solution" href="#" routerLink="/solution/all">Solution</a> -->
            <span *ngIf="params?.solutionid !== 'all'">{{solution?.name | titlecase}}</span>

            <a *ngIf="queryParams" href="" routerLink="#">Search</a>
            <span *ngIf="queryParams">Search results for “{{queryParams?.s}}”</span>
          </nav>
        </div>
      
      </div>
      
      <div class="basel-active-filters d-none">
        <div class="b-shop_option">
            <ul class="pl-0 list-unstyled">
              <li class="d-inline-block">
                  <a href="#">
                    Min 
                    <span class="b-price_amount">
                    <span class="b-price_symbol">£</span>450.00</span>
                  </a>
              </li>
              <li class="d-inline-block">
                <a href="#">
                  Max 
                  <span class="b-price_amount">
                  <span class="b-price_symbol">£</span>580.00</span>
                </a>
              </li>
            </ul>
        </div>      
      </div>
      <div class="b-products b-product_grid b-product_grid_four mb-4">
        <div *ngIf="products" class="b-title b-title_line_right mt-5 mt-lg -0">
          <h2 *ngIf="params?.id === 'all' || params?.solutionid === 'all'" class="text-uppercase">All Products</h2>
          <!-- <h2 *ngIf="params?.solutionid === 'all'" class="text-uppercase">All Products</h2> -->
          <h2 *ngIf="params?.id" class="text-uppercase">{{category?.name | titlecase}}</h2>
          <h2 *ngIf="params?.solutionid" class="text-uppercase">{{solution?.name | titlecase}}</h2>
          <hr *ngIf="category?.imgURL || solution?.imageFile2">
          <div *ngIf="category?.imgURL">
            <img style="max-height:300px" [src]="ImageURL+category?.imgURL" alt="" class="img-fluid" style="width: 100%;">
          </div>
          <div *ngIf="solution?.imageFile2">
            <img style="max-height:300px" [src]="ImageURL + solution?.imageFile2" alt="" class="img-fluid" style="width: 100%;">
          </div>
          <div class="img-description" *ngIf="category || solution">
            <small>{{category?.description || solution?.description}}</small>
          </div>
        </div>
            <!-- <div class="col-sm-4">
              <div class="sortBy">
                <form action="">
                  <div class="form-group">
                    <label for="">Sort by</label>
                    <select name="" id="" (change)="sortBy($event)" class="form-control-sm">
                      <option value="productTitle">Name</option>
                      <option value="dateCreated">Latest</option>
                    </select>
                  </div>
                </form>
              </div>
            </div> -->
        <!-- <div>
          <img [src]="category?.imgURL || './assets/images/not_available.jpg'" alt="">
        </div> -->
          <div class="row clearfix">
            <div class="col-sm-8">
              <h3 *ngIf="queryParams">SEARCH RESULTS: “{{queryParams?.s}}”</h3>
            </div>
            <div class="col-sm-4">
              <div class="sortBy">
                <!-- <form> -->
                  <div class="form-group" *ngIf="products?.length > 0">
                    <label for="">Sort by</label>
                    <select name="" id="" #filter [(ngModel)]="sortValue" class="form-control-sm">
                      <option value="productTitle">Name</option>
                      <option value="dateCreated">Latest</option>
                    </select>
                  </div>
                <!-- </form> -->
              </div>
            </div>
              <ng-container *ngIf="!productsLoaded">
                <div class="col-sm-12">
                  <div class="spinner text-center p-3">
                    <img src="./assets/svg/oval.svg" class="img-fluid img-spinner" alt="">
                  </div>
                </div>
              </ng-container>
              <ng-container *ngIf="productsLoaded">
                <!-- <button class="dropdown-item"
                  *ngIf="products?.length && (products | filterBy:['productTitle', 'productCode', 'categoryName']: filterQuery).length === 0">
                  No Result(s) Found
                </button> -->
                <div class="col-sm-12" *ngIf="(products | filterBy:['productTitle', 'productCode', 'categories', 'solutions']: filterQuery).length === 0 || products.length === 0">
                  <h6>No products were found matching your selection.</h6>
                </div>
              </ng-container>
              <ng-container *ngIf="products?.length && productsLoaded">
                <div class="col-xl-4 col-lg-4 col-mb-4 col-sm-6 col-6" *ngFor="let product of products | filterBy:['productTitle', 'productCode', 'categories', 'solutions']: filterQuery | orderBy: sortValue | paginate: config">
                  <div class="b-product_grid_single" style="min-height: 23rem;">
                    <div class="b-product_grid_header">
                      <a href="#" routerLink="/product/{{product?.productCode}}" (click)="titleService.setTitle(product?.productTitle)">
                        <div class="b-product_grid_info" style="min-height: 2.75rem;">
                          <h1 class="product-title">
                            <a href="#" routerLink="/product/{{product?.productCode}}"><b>{{ product?.productTitle | truncate: 20 }}</b></a>
                           </h1>
                        </div>
                        <img [src]="product?.primaryURL || './assets/images/not_available.jpg'" width="100%" height="auto"
                          class="img-fluid img-switch d-block">
                      </a>
                      <div class="b-product_grid_action">
                        <a href="javascript:void(0)" data-whishurl="whishlist.html" data-toggle="tooltip" data-placement="left" title=""
                          data-original-title="Add to Whishlist">
                          <i class="icon-heart icons b-add_to_whish">
                            <img [src]="product?.primaryURL || './assets/images/not_available.jpg'"
                              class="g-loading_gif" alt="">
                          </i>
                        </a>
                        <i data-toggle="tooltip" data-placement="left" title="" class="icon-refresh icons"
                          data-original-title="Compare"></i>
                        <a href="javascript:void(0);" data-toggle="modal" data-target="#b-qucik_view">
                          <i data-toggle="tooltip" data-placement="left" title="" class="icon-magnifier-add icons"
                            data-original-title="Quick View"></i>
                        </a>
                      </div>
                    </div>
                    <div class="b-product_grid_info">
                      <!-- <h3 class="product-title">
                                             <a href="#" routerLink="/product/{{product?.productTitle}}.{{product?.id}}">{{ product?.productTitle}}</a>
                                         </h3> -->
                      <!-- <h3>{{ product?.categoryName | titlecase}}</h3> -->
                      <p>{{ product?.productCode}}</p>
                      <div class="clearfix">
                        <div class="b-product_grid_toggle float-left">
                          <!-- <span class="b-price">Add To Project</span> -->
                          <span class="b-add_cart" [tooltip]="cookieExists?'':'Please login to use Project Manager'" (click)="addToProduct(product)">
                            <i class="icon-plus icons"></i>
                            <a href="javascript:void(0);">Add To Project</a>
                          </span>
                        </div>
                        <!-- <div class="b-product_options float-right">
                                            <a href="javascript:void(0);" class="d-inline-block b-active mr-3">
                                              <i class="fa fa-star"></i>
                                              <i class="fa fa-star"></i>
                                              <i class="fa fa-star"></i>
                                            </a>
                                              <ul class="pl-0 mb-0 list-unstyled">
                                                  <li>
                                                    <span data-toggle="tooltip" title="" class="b-black" data-original-title="Black"></span>
                                                  </li>
                                                  <li>
                                                    <span data-toggle="tooltip" title="" class="b-blue" data-original-title="Blue"></span>
                                                  </li> 
                                              </ul>
                                          </div> -->
                      </div>
                    </div>
                  </div>
                </div>
              </ng-container>
              </div>
 
 
          <!-- <div class="b-pagination pt-2 pb-4">
            <ul class="pl-0 text-center list-unstyled mb-0">
              <li><a href="#" class="b-current_page">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">...</a></li>
              <li><a href="#">21</a></li>
              <li><a href="#">22</a></li>
              <li><a href="#"><i class="icon-arrow-right icons"></i></a></li>
            </ul>
          </div> -->
          <!-- <pagination-controls (pageChange)="p = $event"></pagination-controls> -->

          <pagination-template *ngIf="products?.length && productsLoaded" #p="paginationApi" (pageChange)="config.currentPage = $event">

            <div class="b-pagination pt-2 pb-4" *ngIf="p?.pages?.length">
              <ul class="pl-0 text-center list-unstyled mb-0">

                <li (click)="p.previous()" [class.d-none]="p.isFirstPage()">
                  <a href="javascript:void(0)">
                    <i class="icon-arrow-left icons"></i>
                  </a>
                </li>

                <li *ngFor="let page of p.pages">
                  <a (click)="p.setCurrent(page.value)" href="javascript:void(0)" *ngIf="p.getCurrent() !== page.value" [class.b-current_page]="p.getCurrent() === page.value">
                    <span>{{page.label}}</span>
                  </a>
                  <a href="javascript:void(0)" *ngIf="p.getCurrent() === page.value" [class.b-current_page]="p.getCurrent() === page.value">
                    <span>{{ page.label }}</span>
                  </a>
                </li>

                <li (click)="p.next()" [class.d-none]="p.isLastPage()">
                  <a href="javascript:void(0)" >
                    <i class="icon-arrow-right icons"></i>
                  </a>
                </li>
              </ul>
            </div>
          </pagination-template>
          
      </div>  
    </div>
  </div>
</div>  