.b-product_options i {
    color: #1daaa3;
}

.gentec-height-range-filter_inputs {
    margin: 1.25rem 0 .625rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.gentec-height-range-filter_inputs {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

input.gentec-height-range-filter_input {
    width: 6.375rem;
    height: 1.875rem;
    background-color: #fff;
    outline: none;
    border: 1px solid rgba(0,0,0,.26);
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: .3125rem;
    font-size: .8125rem;
    text-transform: uppercase;
    border-radius: .125rem;
    box-shadow: inset 0 1px 0 0 rgba(0,0,0,.05);
}

.gentec-height-range-filter_range-line {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 1px;
    background: #bdbdbd;
    margin: 0 .625rem;
}

input {
    line-height: normal;
}

.b-title::after {
    content: "";
    width: 100%;
    margin-top: 15px;
    height: 1px;
    // background-color: #ccc;
    background-color: rgba(0, 0, 0, 0.1);
    display: block;
}

h1 {
    font-size: 1rem !important;
}

.b-product_grid_toggle .b-add_cart i {
    margin-left: 1px;
}

.b-filters_inner_area .categories ul li {
    margin-bottom: 5px;
}

.second-level {
    margin-top: 1.5rem;
    font-weight: 600;
}

.sortBy {
    width: 100px;
    float: right;
    margin-bottom: 1.5rem;
    select {
        border-radius: 0px;
    }
    label {
        font-size: 12px !important;
    }
}
.b-product_grid a{
    color: #333;
    font-weight: bold;
    font-size: 16px;
}
.b-product_grid a:hover{
    color:#95C448;
}

.b-title .img-description {
    margin-left: 1.5rem;
    small {
        font-size: 13px;
    }
}

.isparent{
    width: 100%;
    color: #2eb7c5;
    border-bottom: 2px solid #333;
    // padding-bottom: 15px;
    margin-bottom: 10px;
    h5 {
        font-size: 1.1rem;
    }
}
.parentSub{
    color: #2eb7c5;
    font-size: 1.1rem;
}
