.b-about_text{
	padding: 15% 10%;
	h1{text-align: center; font-size: 42px; text-transform: capitalize; font-family: $blog_heading_font;}
	p{text-align: center; line-height: 1.8; max-width: 475px; margin: auto; padding: 15px 0 40px;}
}
.b-order_2{order: 2;}
.b-about_img{
	position: relative;
	img{position: absolute; bottom: 0; max-height: 600px; left: 0; right: 0;}
}

@media (max-width: 1024px){
	.b-about_text h1{font-size: 32px;}
}
@media (max-width: 990px){
	.b-about_img img{position: static;}
	.b-order_2{order: 0;}
	.b-about_text {padding: 10% 5%;}
}
@media (max-width: 767px){
	.b-about_text{
		padding: 5% 0;
		h1{font-size: 22px;}
	}
}