/* COLOR CODES */
$accent_default: #222;
$accent_default_pink: #ee4684;
$accent_default_green: #8CC761;
$accent_default_green_dark: #6AB165;
$brown: #ba6d09 !default; 

$facebook_color: #365493;
$twitter_color: #3CF;
$google_color: #d44132;
$email_color: #F89A1E;
$pinterest_color: #cb2027;

/* FONTS */
$default_font: 'Montserrat', sans-serif;
$blog_heading_font: 'Noto Sans', sans-serif;
$lato_font: 'Mako', sans-serif;

// Responsive visibility utilities
@each $bp in map-keys($grid-breakpoints) {
  .hidden-#{$bp}-up {
    @include media-breakpoint-up($bp) {
      display: none !important;
    }
  }
  .hidden-#{$bp}-down {
    @include media-breakpoint-down($bp) {
      display: none !important;
    }
  }
}