<div class="spinner text-center p-5" *ngIf="!post">
    <img src="./assets//svg/oval.svg" class="img-fluid" alt="">
  </div>
<section id="warranty" class="pb-5" *ngIf="post">


<section id="warranty" class="pb-5">
    <div class="b-section_title">
              <h4 class="text-center text-uppercase">
{{post?.title}}
          
              </h4>
          </div>
          <div class="container">

              <div class="row clearfix">
                <div [innerHTML]="post?.content"></div>
                </div>
                </div>
                </section>