<div class="b-page_title b-page_title_default text-center">
    <h1 class="b-entry_title"><span>PROJECTS</span></h1>  
    <div class="b-breadcrumbs">
      <a href="#" routerLink="/">Home</a>
      <span>SPECIFICATIONS</span>
    </div>
  </div>
  <!-- <div class="alert alert-success">New Project Successfully Added.</div> -->
  <section id="b-cart_default">
    <div class="b-cart b-cart_default pb-5">
      <div class="container">
          <div class="row clearfix">
              <div class="col-xl-6 col-lg-6 col-mb-6 col-sm-12 col-xs-12">
                <div class="b-title b-title_line_right">
                  <h2 class="text-uppercase">Add Project Form</h2>
                </div>
                <form [formGroup]="form" novalidate>
                <div class="clearfix row">
                    <div class="col-xl-12 col-lg-12 col-mb-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                          <label>Project Name</label>
                          <input  type="text" name="name" id="name" formControlName="name">
                        </div>
                      </div>  
                      <div class="col-xl-12 col-lg-12 col-mb-12 col-sm-12 col-xs-12">
                          <div class="form-group">
                            <label>Description</label>
                            <input  type="text" name="name" id="name" formControlName="description">
                          </div>
                        </div>  
                   <div class="col-xl-6 col-lg-6 col-mb-6 col-sm-12 col-xs-12">
                     <div class="form-group">
                       <label>Code<i style="color: red;">*</i> <span id="userName-info" class="info"></span></label>
                       <input required="" type="text" name="userName" id="userName" formControlName="code">
                     </div>
                   </div>
                   <div class="col-xl-6 col-lg-6 col-mb-6 col-sm-12 col-xs-12">
                     <div class="form-group">
                       <label>Location <i style="color: red;">*</i>  <span id="userEmail-info" class="info"></span></label>
                       <input required="" type="email" name="userEmail" id="userEmail" formControlName="location">
                     </div>
                   </div>
              
                   <!-- <div class="col-xl-12 col-lg-12 col-mb-12 col-sm-12 col-xs-12">
                     <div class="form-group">
                       <label>Your Message</label>
                       <textarea name="content" id="content"></textarea>
                     </div>
                   </div>   -->
                   <div class="col-xl-12 col-lg-12 col-mb-12 col-sm-12 col-xs-12">
                     <button *ngIf="!isUpdate" [disabled]="form.invalid" (click)="createProject();" class="btn btn-bg text-white">ADD PROJECT</button>
                     <button style="margin-right: 5px;" *ngIf="isUpdate" [disabled]="form.invalid" (click)="updateProject();" class="btn btn-bg text-white">UPDATE PROJECT</button>
                     <button *ngIf="isUpdate" [disabled]="form.invalid" (click)="updateCancel();" class="btn btn-danger">CANCEL</button>
                   </div>  
                  </div> 
                </form>
                <div class="mt-4" id="mail-status"></div>
              </div>
              <div class="col-xl-6 col-lg-6 col-mb-6 col-sm-12 col-xs-12">
                <div class="b-title b-title_line_righ mt-5 mt-lg -0">
                  <h2 class="text-uppercase">Build Your Own Project Spec Sheet!</h2>
                </div>
                <p>For Architects, Developers or Designers who would like indicative pricing on your specification click the button below to request approval and leave us your name, email and company info with the subject 'Quote Request' and we'll get the rest sorted!</p>
                <p>Once approved you will be able to submit any Project you have created by clicking 'Request Quote' from within your project.</p>
   
              </div>
            </div>
          <!-- <div> -->
          <!-- <a href="#" class="btn btn-warning"><i class="fa fa-angle-left"></i> Continue Shopping</a> -->
       
            
             <!-- <a (click)="addProject()" href="javascipt:void(0)" class="btn btn-success btn-lg pull-right">Add Project <i class="fa fa-plus-circle"></i></a>
          </div> -->
         <table id="cart" class="table table-hover table-condensed">
            <thead>
              <tr>
                <th style="width:40%">Name</th>
                <th style="width:10%">Date</th>
                <th style="width:10%">Code</th>
                <th style="width:20%">Location</th>
                <th style="width:20%">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let project of projects">
                <td data-th="">
                  <div class="row">
                    <!-- <div class="col-sm-2 hidden-xs"><img src="assets/images/products/home/product_grid_03_01.jpg" alt="..." class="img-fluid"/></div> -->
                    <div class="col-sm-12">
                      <h4 class="nomargin">
                        <a href="#" routerLink="/projects/{{project?.slug}}">{{project?.name | titlecase}}</a></h4>
                      <p style="padding:0">{{project?.description | titlecase}}</p>
                    </div>
                  </div>
                </td>
                <td data-th="Date">{{project?.dateCreated | date:'MM/dd/yy'}}</td>
                <td data-th="Code">
                  <input type="text" class="form-control text-center" value="{{project?.code}}">
                </td>
                <td data-th="Location">{{project?.location | titlecase}}</td>
                <td class="actions" data-th="">
                  <!-- <div class="col-sm-1"> -->
                    <button (click)="editProject(project)" class="btn btn-info btn-sm mr-1"><i class="fa fa-refresh"></i></button>
                    <button (click)="deleteProject(project.id)" class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i></button>   
                  <!-- </div> -->
                </td>
              </tr>
            </tbody>
    
          </table>
       
      </div>
    </div>
  </section> 