<div class="b-page_title b-page_title_default text-center">
    <h1 class="b-entry_title"><span>My Account</span></h1>  
    <div class="b-breadcrumbs">
      <a href="#" routerLink="/">Home</a>
      <span>My Account</span>
    </div>
  </div> 

  <div *ngIf="!auth?.user">
  <user-form></user-form>
  </div>

  <!-- <ng-template #alreadyLoggedIn> -->
  <div class="container" *ngIf="auth?.user">
          <div class="row clearfix">

    <!-- <user-form></user-form> -->
    <!-- <p class="text-success">
        You are logged in <i class="fa fa-thumbs-up"></i><br>
      </p> -->
    <user-profile style="margin:auto;width:100%;"></user-profile>

</div></div>
  <!-- </ng-template> -->