<div class="b-page_title b-page_title_default text-center">
  <h1 class="b-entry_title"><span>WISHLIST</span></h1>  
  <div class="b-breadcrumbs">
    <a href="index.html">Home</a>
    <span>WISHLIST</span>
  </div>
</div> 
<section id="b-cart_default">
  <div class="b-cart b-cart_default b-wishlist_table pb-5">
    <div class="container">
      <div class="table-responsive">
       <table id="cart" class="table table-condensed">
          <thead>
            <tr>
              <th style="width:35%" class="text-center border-0"><h6><b>PRODUCT NAME</b></h6></th>
              <th style="width:25%" class="text-center border-0"><h6><b>UNIT PRICE</b></h6></th>
              <th style="width:25%" class="text-center border-0"><h6><b>STOCK STATUS</b></h6></th>
              <th style="width:15%" class="text-center border-0"></th> 
            </tr>
          </thead>
          <tbody>
             <tr>
               <td class="text-center">
                 <div class="b-wish_product">
                   <i class="icon-close icons"></i>
                   <img src="assets/images/products/home/product_grid_03_01.jpg" class="mx-2" height="70" alt="">
                   <a href="#">Basic Korean-style coat</a>
                 </div>
               </td>
               <td class="text-center"><span class="b-price">£99.00</span></td>
               <td class="text-center"><span class="b-stock_status b-in_stock">IN STOCK</span></td>
               <td><a href="#" class="btn btn-full">ADD TO CART</a></td>
             </tr>
             <tr>
               <td class="text-center">
                 <div class="b-wish_product">
                   <i class="icon-close icons"></i>
                   <img src="assets/images/products/home/product_grid_08_01.jpg" class="mx-2" height="70" alt="">
                   <a href="#">Gthnic detail open jacket</a>
                 </div>
               </td>
               <td class="text-center"><span class="b-price">£320.00</span></td>
               <td class="text-center"><span class="b-stock_status b-out_off_stock">OUT OFF STOCK</span></td>
               <td><a href="#" class="btn btn-full disabled">ADD TO CART</a></td>
             </tr>
             <tr>
               <td class="text-center">
                 <div class="b-wish_product">
                   <i class="icon-close icons"></i>
                   <img src="assets/images/products/home/product_grid_06_02.jpg" class="mx-2" height="70" alt="">
                   <a href="#">Houble strap backpack</a>
                 </div>
               </td>
               <td class="text-center"><span class="b-price">£120.00</span></td>
               <td class="text-center"><span class="b-stock_status b-in_stock">IN STOCK</span></td>
               <td><a href="#" class="btn btn-full">ADD TO CART</a></td>
             </tr>
          </tbody> 
        </table>
      </div>
    </div>
  </div>
</section> 