
      
                <div class="b-main_menu-wrapper hidden-lg-up">
                  <ul class="mobile-top"> 
                      <li class="search">
                          <div class="search-holder-mobile">
                              <input type="text" name="search-mobile" value="" placeholder="Search" class="form-control">
                              <a class="fa fa-search"></a>
                          </div>
                      </li>
                  </ul>
                  <ul class="categories"> 
                    <li class="has-sub dropdown-wrapper from-bottom">
                        <a href="#" routerLink="/solution/all"><span class="top">Solutions</span><i class="fa fa-angle-down"></i></a>
                        <div class="dropdown-content sub-holder dropdown-left narrow">
                            <div class="dropdown-inner">
                                <div class="clearfix">
                                    <div class="col-xs-12 col-sm-12 ">
                                        <div class="menu-item">
                                            <!-- CATEGORIES CONTENT -->
                                            <div class="categories">
                                                <div class="clearfix">
                                                    <div class="col-sm-12 hover-menu text-uppercase">
                                                        <ul *ngFor="let cat of solutions">
                                                            <li> <a href="#" routerLink="/solution/{{cat?.solutionCode}}" class="d-block"><strong> {{cat.solutionName}} Solutions </strong></a></li>
                                                           
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- row -->
                            </div>
                        </div>
                    </li>
                    <li class="has-sub dropdown-wrapper from-bottom">
                      <a href="#" routerLink="/category/all"><span class="top">Products</span></a>
              
                  </li>
               
                  <li>
                    <a href="#" class="p-relative description " routerLink="/category">
                    <span class="top">Company</span> 
                    </a>
                  </li>
                  <li *ngIf="auth?.user">
                    <a href="#" class="p-relative description " routerLink="/projects">
                    <span class="top">Specifications</span> 
                    </a>
                  </li>
                  <li>
                    <a href="#" class="p-relative description ">
                    <span class="top">Retailers</span> 
                    </a>
                  </li>
                  </ul> 
                </div>  
      <header id="b-header"> 
            <div class="b-header b-header_bg">
                    <div class="container">
                        <div class="b-header_topbar row clearfix">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="b-top_bar_left float-md-left text-center text-white">
                                    <i class="fa fa-phone-square text-white mr-1"> </i> 
                                     PHONE NUMBER: 
                                    <a href="tel:+77756334876" class="text-white ml-2">(+612) 9319 4422 </a>
                                    <a href="#" class="fa fa-linkedin-square text-white social"></a>
                                    <a href="#" class="fa fa-facebook-square text-white social"></a>
                                    <a href="#" class="fa fa-youtube-square text-white social"></a>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 hidden-sm-down">
                                <div class="b-top_bar_right clearfix">
                                    <div class="b-topbar_menu float-md-right text-center">
                                        <div class="b-menu_top_bar_container">
                                            <ul id="b-menu_top_bar" class="b-menu">
                                                <li *ngIf="auth.user"><a href="javascript:void(0)" (click)="logout()">Logout</a></li>
                                                <li *ngIf="auth.user "><a href="#" routerLink="/login"><i class="fa fa-user mr-1"></i>My Account</a></li>
                                                <li *ngIf="auth.user "><a href="#" routerLink="/projects"> <i class="fa fa-star-o icons"></i> Specifications</a></li>
                                                <li *ngIf="!(auth.user )"><a href="#" routerLink="/login">Login</a></li>
                                                <li *ngIf="!(auth.user)"><a href="#" routerLink="/login">Register</a></li>
                                               
                                            </ul>
                                        </div>   
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        <div class="b-header b-header_main">
          <div class="container">
            <div class="clearfix row">
              <div class="col-xl-3 col-lg-3 col-mb-3 col-sm-6 col-xs-6">
                <div class="b-logo text-left">
                  <a href="#" routerLink="/" class="d-inline-block"><img src="assets/images/gentec-logo-dark.png" class="img-fluid d-block" alt=""></a>
                </div>
              </div>
              <div class="col-xl-7 col-lg-6 col-mb-6 col-sm-6 col-xs-12 hidden-sm-down p-static hidden-md-down">
                <div class="b-header_nav b-header_nav_center">
                  <div class="b-menu_top_bar_container">
                      <div class="b-main_menu menu-stay-left">
                          <ul class="categories pl-0 mb-0 list-unstyled">
                              <!-- Mega menu -->
                              <!-- Top level items -->
                   
                              <li class=" b-has_sub b-dropdown_wrapper from-bottom p-static">
                                  <a href="#" class="p-relative description" routerLink="/solution/all">
                                  <span class="top">Solutions</span><i class="fa fa-angle-down"></i></a>
                                  <!-- Sub Menu items -->
                                  <div class="b-dropdown_content sub-holder dropdown-left" style="width: 1000px;">
                                      <div class="dropdown-inner">
                                          <div class="row">
                                              <div class="col-xl-4 col-lg-4 col-mb-4 col-sm-4 col-xs-12" *ngFor="let cat of solutions">
                                                <div class="b-menu_content_in mb-4">
                                                  <a href="#" routerLink="/solution/{{cat?.solutionCode}}" class="d-block"><strong> {{cat.solutionName}} Solutions </strong></a>
                                                  <a href="#" routerLink="/solution/{{cat?.solutionCode}}"><img [src]="cat?.imgURL" class="img-fluid d-block m-auto" alt=""></a>
                                                </div>
                                              </div>
                                          </div>
                                          <!-- row -->
                                      </div>
                                  </div>
                              </li>
                              <!-- Top level items -->
                              <li class=" b-has_sub b-dropdown_wrapper from-bottom p-static">
                                  <a href="#" routerLink="/category/all" class="p-relative description ">
                                    <!-- routerLink="/shop/products" -->
                                  <span class="top">Products</span> <i class="fa fa-angle-down"></i>
                                  <!-- <i class="menu-tag sale">SALE</i><i class="fa fa-angle-down"></i> -->
                                </a>
                                  <!-- Sub Menu items -->
                                  <div class="b-dropdown_content sub-holder dropdown-left" style="width: 1500px;">
                                      <div class="dropdown-inner">
                                          <div class="row">
                                           
                                              <div class="col-xs-12 col-sm-4">
                                                  <div class="menu-item">
                                                    <!-- <h5 class="b-filter_title">PRODUCT CATEGORIES</h5> -->
                                                    <ul>
                                                      <li *ngFor="let menu of finalMenu1" class="third-level">
                                                        <a href="#" routerLink="{{menu?.url}}" class="isparent"> <h5 class="text-uppercase">{{menu?.categoryName}}</h5></a>
                                                        <!-- <a href="#" routerLink="{{menu?.url}}" class="issub">{{menu?.title}}</a> -->
                                                        <!-- <a href="#" routerLink="{{menu?.url}}">{{menu?.title}}</a> -->
                                                        <ul *ngIf="menu?.sub">
                                                          <li *ngFor="let sub of menu?.sub">
                                                            <a href="#" [routerLink]="sub?.url" [ngClass]="sub?.isBold?'parentSub text-uppercase':''">{{sub?.subName}}</a>
                                                          </li>
                                                        </ul>
                                                      </li>
                                                      <!-- <li *ngFor="let menu of menus" class="third-level">
                                                        <a href="#" *ngIf="menu?.isparent" routerLink="{{menu?.url}}" class="isparent"> <h5 class="text-uppercase">{{menu?.title}}</h5></a>
                                                        <a href="#" *ngIf="menu?.issub" routerLink="{{menu?.url}}" class="issub">{{menu?.title}}</a>
                                                        <a href="#" *ngIf="!menu?.isparent && !menu?.issub" routerLink="{{menu?.url}}">{{menu?.title}}</a>
                                                      </li> -->
                                                    </ul>
                                                  </div>
                                              </div> 
                                              <div class="col-xs-12 col-sm-4">
                                                <div class="menu-item">
                                                  <!-- <h5 class="b-filter_title">PRODUCT CATEGORIES</h5> -->
                                                  <ul>
                                                    <li *ngFor="let menu of finalMenu2" class="third-level">
                                                      <a href="#" routerLink="{{menu?.url}}" class="isparent">
                                                        <h5 class="text-uppercase">{{menu?.categoryName}}</h5>
                                                      </a>
                                                      <ul *ngIf="menu?.sub">
                                                        <li *ngFor="let sub of menu?.sub">
                                                          <a href="#" [routerLink]="sub?.url" [ngClass]="sub?.isBold?'parentSub text-uppercase':''">{{sub?.subName}}</a>
                                                        </li>
                                                      </ul>
                                                    </li>
                                                  </ul>
                                                  <!-- <ul>
                                                    <li *ngFor="let menu of menus2" class="third-level">
                                                      <a href="#" *ngIf="menu?.isparent" routerLink="{{menu?.url}}" class="isparent"> <h5 class="text-uppercase">{{menu?.title}}</h5></a>
                                                      <a href="#" *ngIf="menu?.issub" routerLink="{{menu?.url}}" class="issub">{{menu?.title}}</a>
                                                      <a href="#" *ngIf="!menu?.isparent && !menu?.issub" routerLink="{{menu?.url}}">{{menu?.title}}</a>
                                              
                                                    </li>
                                                  </ul> -->
                                                </div>
                                              </div>
                                              <div class="col-xs-12 col-sm-4">
                                                <div class="menu-item">
                                                  <!-- <h5 class="b-filter_title">PRODUCT CATEGORIES</h5> -->
                                                  <ul>
                                                    <li *ngFor="let menu of finalMenu3" class="third-level">
                                                      <a href="#" routerLink="{{menu?.url}}" class="isparent">
                                                        <h5 class="text-uppercase">{{menu?.categoryName}}</h5>
                                                      </a>
                                                      <ul *ngIf="menu?.sub">
                                                        <li *ngFor="let sub of menu?.sub">
                                                          <a href="#" [routerLink]="sub?.url" [ngClass]="sub?.isBold?'parentSub text-uppercase':''">{{sub?.subName}}</a>
                                                        </li>
                                                      </ul>
                                                    </li>
                                                    <li>
                                                      <a href="#" class="explore" routerLink="/category">Explore Entire Catalogue ></a>
                                                    </li>
                                                  </ul>
                                                  <!-- <ul>
                                                    <li *ngFor="let menu of menus3" class="third-level">
                                                      <a href="#" *ngIf="menu?.isparent" routerLink="{{menu?.url}}" class="isparent"> <h5 class="text-uppercase">{{menu?.title}}</h5></a>
                                                      <a href="#" *ngIf="menu?.issub" routerLink="{{menu?.url}}" class="issub">{{menu?.title}}</a>
                                                      <a href="#" *ngIf="!menu?.isparent && !menu?.issub" routerLink="{{menu?.url}}">{{menu?.title}}</a>
                                                    </li>
                                                    <li>
                                                          <a href="#" class="explore" routerLink="/category">Explore Entire Catalogue ></a>
                                                    </li>
                                                  </ul> -->
                                                </div>
                                              </div>
                                          </div>
                                          <!-- row -->
                                      </div>
                                  </div>
                              </li>
                              <li>
                                <a href="#" class="p-relative description " routerLink="/category">
                                <span class="top">Company</span> 
                                </a>
                              </li>
                              <!-- <li *ngIf="auth?.user">
                                <a href="#" class="p-relative description " routerLink="/projects">
                                <span class="top">Specifications</span> 
                                </a>
                              </li> -->
                              <li>
                                <a href="#" class="p-relative description ">
                                <span class="top">Retailers</span> 
                                </a>
                              </li>
                          </ul>
                      </div>
                  </div> 
                </div>
              </div>
              <div class="col-xl-2 col-lg-3 col-mb-3 col-sm-6 col-xs-6">
                <div class="b-header_right"> 
                  <div class="b-search_icon">
                    <a href="javascript:;" id="b-search_toggle" class="d-inline-block">
                      <i class="icon-magnifier icons"></i>
                    </a>
                  </div>
                  <div class="b-wishlist_icon">
                    <button routerLink="/projects" style="color:#fff;background-color:#95C448;" type="button" class="btn btn-success d-none d-sm-block">My Specifications <i class="fa fa-folder-open-o fa-fw" aria-hidden="true"></i></button>
                    <!-- <a href="#" routerLink="/projects" class="d-inline-block">
                      <i class="fa fa-star-o icons"></i>
                      <span>3</span>
                    </a> -->
                  </div>
                <!--<div class="b-cart_basket pr-0">
                    <a href="javascript:void(0);" id="b-mini_cart" class="d-inline-block">
                      <i class="icon-basket icons"></i>
                      <span class="b-cart_totals">
                        <span class="b-cart_number">3</span>
                       <span class="b-subtotal_divider">/</span> 
                        <span class="b-cart_subtotal">
                          <span class="b-cart_amount amount">
                            <span class="b-cart_currency">£</span>100.00
                          </span>
                        </span> 
                      </span>
                    </a>
                  </div>-->
                  <div class="hidden-lg-up">
                    <i class="icon-menu icons b-nav_icon" id="b-nav_icon"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </header>

<!-- <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" routerLink="/">
            <img src="assets/images/angularfirebase.png" width="30px" alt="Firestarter Angular4 Demo App" /> FireStarter
        </a>

        <a id="navToggle" role="button" class="navbar-burger" (click)="toggleCollapse()" [ngClass]="{'is-active': show}">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div class="navbar-menu" [ngClass]="{'is-active': show}">
        <div class="navbar-end">
            <a class="navbar-item" routerLink="/login">
        Login
      </a>
            <a class="navbar-item" routerLink="/ssr">
        SSR Universal
      </a>
            <a class="navbar-item" routerLink="/notes">
        Firestore
      </a>
            <a class="navbar-item" routerLink="/uploads">
        File Uploads
      </a>
        </div>
    </div>
</nav> -->