
      <header id="b-header"> 
            <div class="b-header b-header_bg">
                    <div class="container">
                        <div class="b-header_topbar row clearfix">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="b-top_bar_left float-md-left text-center text-white">
                                    <i class="fa fa-phone-square text-white mr-1"> </i> 
                                     PHONE NUMBER: 
                                    <a href="tel:+77756334876" class="text-white ml-2">(+612) 9319 4422 </a>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 hidden-sm-down">
                                <div class="b-top_bar_right clearfix">
                                    <div class="b-topbar_menu float-md-right text-center">
                                        <div class="b-menu_top_bar_container">
                                            <ul id="b-menu_top_bar" class="b-menu">
                                                    <li *ngIf="auth.user | async"><a href="#" (click)="logout()">Logout</a></li>
                                                <li *ngIf="auth.user | async"><a href="#" routerLink="/login"><i class="fa fa-user mr-1"></i>My Account</a></li>
                                                <li *ngIf="auth.user | async"><a href="#" routerLink="/wishlist"> <i class="icon-heart icons"></i> Wishlist</a></li>
                                                <li *ngIf="!(auth.user | async)"><a href="#" routerLink="/login">Login</a></li>
                                                <li *ngIf="!(auth.user | async)"><a href="#" routerLink="/login">Register</a></li>
                                               
                                            </ul>
                                        </div>   
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        <div class="b-header b-header_main">
          <div class="container">
            <div class="clearfix row">
              <div class="col-xl-3 col-lg-3 col-mb-3 col-sm-6 col-xs-6">
                <div class="b-logo text-left">
                  <a href="#" routerLink="/" class="d-inline-block"><img src="assets/images/gentec-logo-dark.png" class="img-fluid d-block" alt=""></a>
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-mb-6 col-sm-6 col-xs-12 hidden-sm-down p-static hidden-md-down">
                <div class="b-header_nav b-header_nav_center">
                  <div class="b-menu_top_bar_container">
                      <div class="b-main_menu menu-stay-left">
                          <ul class="categories pl-0 mb-0 list-unstyled">
                              <!-- Mega menu -->
                              <!-- Top level items -->
                              <li class=" b-has_sub b-dropdown_wrapper from-bottom p-static">
                                <a href="#" class="p-relative description " routerLink="/category">
                                <span class="top">Projects</span><i class="menu-tag sale">NEW</i><i class="fa fa-angle-down"></i></a>
                                <!-- Sub Menu items -->
                                <div class="b-dropdown_content sub-holder dropdown-left" style="width: 1500px;">
                                    <div class="dropdown-inner">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-3" *ngFor="let cat of categories">
                                                <div class="menu-item">
                                                    <h4 class="column-title text-uppercase"><b>{{cat.categoryName}}</b></h4> 
                                                    <div class="categories">
                                                        <div class="row">
                                                            <div class="col-sm-12 hover-menu">
                                                                <ul *ngIf="products"> 
                                                                  <li *ngFor="let product of products"><a href="#">{{product?.productTitle}}</a></li>
                                                               
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div> 

                                    
                                        </div>
                                        <!-- row -->
                                    </div>
                                </div>
                            </li>
                              <li class=" b-has_sub b-dropdown_wrapper from-bottom p-static">
                                  <a href="#" class="p-relative description" routerLink="/category">
                                  <span class="top">Solutions</span><i class="fa fa-angle-down"></i></a>
                                  <!-- Sub Menu items -->
                                  <div class="b-dropdown_content sub-holder dropdown-left" style="width: 1000px;">
                                      <div class="dropdown-inner">
                                          <div class="row">
                                              <div class="col-xl-4 col-lg-4 col-mb-4 col-sm-4 col-xs-12" *ngFor="let cat of solutions">
                                                <div class="b-menu_content_in mb-4">
                                                  <a href="index.html" class="d-block"><strong> {{cat.solutionName}} Solution </strong></a>
                                                  <a href="index.html"><img [src]="cat?.imgURL" class="img-fluid d-block m-auto" alt=""></a>
                                                </div>
                                              </div>
                                            
                                              <!-- <div class="col-xl-4 col-lg-4 col-mb-4 col-sm-4 col-xs-12">
                                                <div class="b-menu_content_in mb-4">
                                                  <a href="home-full-width.html" class="d-block"><strong><span>7.</span> home fashion full</strong></a>
                                                  <a href="home-full-width.html"><img src="assets/images/nav-prev/prev-main-09.jpg" class="img-fluid d-block m-auto" alt=""></a>
                                                </div>
                                              </div> 
                                              <div class="col-xl-4 col-lg-4 col-mb-4 col-sm-4 col-xs-12">
                                                <div class="b-menu_content_in mb-4">
                                                  <a href="home-fashion.html" class="d-block"><strong><span>8.</span> home fashion</strong></a>
                                                  <a href="home-fashion.html"><img src="assets/images/nav-prev/prev-main-06.jpg" class="img-fluid d-block m-auto" alt=""></a>
                                                </div>
                                              </div> 
                                              <div class="col-xl-4 col-lg-4 col-mb-4 col-sm-4 col-xs-12">
                                                <div class="b-menu_content_in mb-4">
                                                  <a href="home-cosmetics.html" class="d-block"><strong><span>9.</span> home cosmetics</strong></a>
                                                  <a href="home-cosmetics.html"><img src="assets/images/nav-prev/prev-main-08.jpg" class="img-fluid d-block m-auto" alt=""></a>
                                                </div>
                                              </div>
                                              <div class="col-xl-4 col-lg-4 col-mb-4 col-sm-4 col-xs-12">
                                                <div class="b-menu_content_in mb-4">
                                                  <a href="home-dark.html" class="d-block"><strong><span>10.</span> home dark</strong></a>
                                                  <a href="home-dark.html"><img src="assets/images/nav-prev/prev-main-07.jpg" class="img-fluid d-block m-auto" alt=""></a>
                                                </div>
                                              </div>  -->
                                          </div>
                                          <!-- row -->
                                      </div>
                                  </div>
                              </li>
                              <!-- Top level items -->
                              <li class=" b-has_sub b-dropdown_wrapper from-bottom p-static">
                                  <a href="#" class="p-relative description " routerLink="/category">
                                  <span class="top">Products</span> <i class="fa fa-angle-down"></i>
                                  <!-- <i class="menu-tag sale">SALE</i><i class="fa fa-angle-down"></i> -->
                                </a>
                                  <!-- Sub Menu items -->
                                  <div class="b-dropdown_content sub-holder dropdown-left" style="width: 1500px;">
                                      <div class="dropdown-inner">
                                          <div class="row">
                                           
                                              <div class="col-xs-12 col-sm-3" *ngFor="let cat of categories">
                                                  <div class="menu-item">
                                                      <h4 class="column-title"><b>{{cat.categoryName}} ({{cat?.products?.length}})</b></h4> 
                                                      <div class="categories">
                                                          <div class="row">
                                                              <div class="col-sm-12 hover-menu">
                                                                <ul *ngIf="products"> 
                                                                    <li *ngFor="let product of cat.products"><a href="/product/{{product?.productTitle}}.{{product?.id}}">{{product?.productTitle}}</a></li>
                                                                    <li><a href="/category">view more <i class="fa fa-arrow-right"></i></a></li>
                                                                  </ul>
                                                              </div>
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div> 
                                       
                                          </div>
                                          <!-- row -->
                                      </div>
                                  </div>
                              </li>
                              <li>
                                <a href="#" class="p-relative description " routerLink="/category">
                                <span class="top">Company</span> 
                                </a>
                                </li>
                                <li>
                                    <a href="#" class="p-relative description " routerLink="/product">
                                    <span class="top">Products Specs</span> 
                                    </a>
                                    </li>
                       
                          </ul>
                      </div>
                  </div> 
                </div>
              </div>
              <div class="col-xl-3 col-lg-3 col-mb-3 col-sm-6 col-xs-6">
                <div class="b-header_right"> 
                  <div class="b-search_icon">
                    <a href="javascript:;" id="b-search_toggle" class="d-inline-block">
                      <i class="icon-magnifier icons"></i>
                    </a>
                  </div>
                  <div class="b-wishlist_icon">
                    <a href="#" routerLink="/wishlist" class="d-inline-block">
                      <i class="icon-heart icons"></i>
                      <span>3</span>
                    </a>
                  </div>
                  <div class="b-cart_basket pr-0">
                    <a href="javascript:void(0);" id="b-mini_cart" class="d-inline-block">
                      <i class="icon-basket icons"></i>
                      <span class="b-cart_totals">
                        <span class="b-cart_number">3</span>
                        <!-- <span class="b-subtotal_divider">/</span> 
                        <span class="b-cart_subtotal">
                          <span class="b-cart_amount amount">
                            <span class="b-cart_currency">£</span>100.00
                          </span>
                        </span> -->
                      </span>
                    </a>
                  </div>
                  <div class="hidden-lg-up">
                    <i class="icon-menu icons b-nav_icon" id="b-nav_icon"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </header>

<!-- <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" routerLink="/">
            <img src="assets/images/angularfirebase.png" width="30px" alt="Firestarter Angular4 Demo App" /> FireStarter
        </a>

        <a id="navToggle" role="button" class="navbar-burger" (click)="toggleCollapse()" [ngClass]="{'is-active': show}">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div class="navbar-menu" [ngClass]="{'is-active': show}">
        <div class="navbar-end">
            <a class="navbar-item" routerLink="/login">
        Login
      </a>
            <a class="navbar-item" routerLink="/ssr">
        SSR Universal
      </a>
            <a class="navbar-item" routerLink="/notes">
        Firestore
      </a>
            <a class="navbar-item" routerLink="/uploads">
        File Uploads
      </a>
        </div>
    </div>
</nav> -->