#b-header{
    .social{
        color: #fff;
        font-size: 24px;
        border: none;
        margin-left: 8px;
    }
}
nav {
    border-bottom: 1px solid #E4E4E4;
    box-shadow: 0 0 4px rgba(0, 0, 0, .1), 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 25px;
}

.navbar-brand {
    padding: 0 3em 0 2em;
}

.navbar-menu {
    padding-right: 3em;
}

.column-title {
    font-size: 12px !important;
    font-weight: bolder !important;
}

.categories a {
    font-weight: lighter !important;
}

.b-main_menu ul {
    margin-bottom: 15px !important;
}

.b-main_menu .dropdown-inner ul > li > a {
    padding: 1px 0px !important;
}

.b-main_menu .dropdown-inner h4.column-title {
    margin: 5px 0 0px !important;
}

.second-level {
    margin-top: 1.5rem;
    a {
        font-weight: bolder !important;
    }
}