<p *ngIf="!user">Loading user data...</p>

<div class="container-fluid" *ngIf="user">



    <hr>
    <div class="container bootstrap snippet">
        <div class="row">
            <div class="col-sm-10">
                <h1>{{user.email}}</h1>
            </div>
            <div class="col-sm-2">
                <a href="/login" class="pull-right"><img title="profile image" class="img-circle img-responsive" [src]="user.photoURL || 'https://api.adorable.io/avatars/109/fire.png'"></a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <!--left col-->

                <div class="panel panel-default">
                    <!-- Default panel contents -->
                    <div class="panel-heading">Profile</div>
                    <!-- <div class="panel-body">
                              <p>...</p>
                            </div> -->

                    <!-- List group -->
                    <div class="list-group">
            
                            <a href="#" routerLink="/projects" class="list-group-item">My Specifications</a>
                            <a href="#" class="list-group-item">Notifications</a>
                            <a href="#" class="list-group-item">Contacts</a>
                            <a href="#" class="list-group-item">Clients</a>
                          </div>
                </div>


            </div>
            <!--/col-3-->
            <div class="col-sm-9">

                <ngb-tabset>
                    <ngb-tab title="User Info">

                        <ng-template ngbTabContent>
                            <form [formGroup]="userform" novalidate>
                                <div class="clearfix row">
                                    <br> <br>
                                    <div class="col-xl-6 col-lg-6 col-mb-6 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <label>First Name<i style="color: red;">*</i> <span id="userName-info"
                                                    class="info"></span></label>
                                            <input required="" type="text" name="userName" id="userName"
                                                formControlName="code">
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-mb-6 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <label>Last Name <i style="color: red;">*</i> <span id="userEmail-info"
                                                    class="info"></span></label>
                                            <input required="" type="email" name="userEmail" id="userEmail"
                                                formControlName="location">
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-mb-6 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <label>Email<i style="color: red;">*</i> <span id="userName-info" class="info"></span></label>
                                            <input required="" type="text" name="userName" id="userName"
                                                formControlName="code" value="{{user.email}}">
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-mb-6 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <label>Phone <i style="color: red;">*</i> <span id="userEmail-info" class="info"></span></label>
                                            <input required="" type="email" name="userEmail" id="userEmail"
                                                formControlName="location">
                                        </div>
                                    </div>
                                    <div class="col-xl-12 col-lg-12 col-mb-12 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <label>Address</label>
                                            <input type="text" name="name" id="name" formControlName="projectName">
                                        </div>
                                    </div>
                                    <div class="col-xl-12 col-lg-12 col-mb-12 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <label>Bio</label>
                                            <input type="text" name="name" id="name" formControlName="description">
                                        </div>
                                    </div>
                                    <button class="btn btn-bg text-white">Update</button>

                                </div>
                            </form>

                        </ng-template>
                    </ngb-tab>
                    <ngb-tab>
                        <ng-template ngbTabTitle><a href="#">Inbox <span class="badge" style="background-color: #333;">42</span></a></ng-template>
                        <ng-template ngbTabContent>Food truck fixie locavore, accusamus mcsweeney's marfa nulla
                            single-origin coffee squid.
                            <p>Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson
                                artisan four loko farm-to-table
                                craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip
                                jean shorts ullamco ad vinyl
                                cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit.
                                Keytar helvetica VHS salvia
                                yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes
                                anderson 8-bit, sustainable jean
                                shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester
                                stumptown, tumblr butcher vero
                                sint qui sapiente accusamus tattooed echo park.</p>
                        </ng-template>
                    </ngb-tab>

                </ngb-tabset>
                <!--/tab-pane-->
            </div>
            <!--/tab-content-->

        </div>
        <br><br><br>
        <!--/col-9-->
    </div>
    <!--/row-->







</div>
<!-- </ng-template> -->