


  <!-- <div *ngIf="auth.user | async  ; then authenticated else guest"> -->
          <!-- template will replace this div -->
  <!-- </div> -->


<!-- User NOT logged in -->
<!-- <ng-template> -->
  <p *ngIf="!user">Loading user data...</p>
  <!-- <h3>Howdy, GUEST</h3>
  <p class="card-text">Login to get started...</p>
  <button class="button" routerLink="/login">Login</button> -->
<!-- </ng-template> -->

<!-- User logged in -->
<!-- <ng-template #authenticated> -->
    <div class="container-fluid" *ngIf="user">
        <div class="row clearfix">

      <div class="col-xl-6 col-lg-6 col-mb-6 col-sm-12 col-xs-12">
          <div class="b-about_text">
            <h1 class="text-center">Name: {{ user.firstName }} {{ user.lastName }}</h1>
            <p>Bio: Suspendisse leo sodales varius leo elementum vestibulum a elit at ultrices a mi a praesent enim libero ultrices a amet suscipit. A tempus iaculis habitasse suspendisse aenean parturient blandit a rutrum leo elementum purus a a et id non feugiat donec.</p>
            <img [src]="user.photoURL || 'https://api.adorable.io/avatars/109/fire.png'" class="img-fluid d-block m-auto" alt="" width="300">
            <div class="b-blog_social">
              <ul class="list-unstyled clearfix mb-0">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-mb-6 col-sm-12 col-xs-12 b-about_img">
            <button class="button" routerLink="/projects">projects</button>
          </div>


</div>
</div>
<!-- </ng-template> -->


