<div class="b-page_title b-page_title_default text-center">
    <h1 class="b-entry_title"><span>My Account</span></h1>  
    <div class="b-breadcrumbs">
      <a href="#" routerLink="/">Home</a>
      <span>Profile</span>
    </div>
  </div>


<div class="spinner text-center p-5" *ngIf="!cookieExists">
  <img src="./assets//svg/oval.svg" class="img-fluid" alt="">
</div>

<div class="container-fluid" *ngIf="cookieExists">

    <div *ngIf="showMessage" (click)="showMessage == !showMessage">
        <div class="alert alert-{{type}}">
            <i class="fa fa-check-circle-o fa-fw"></i> {{message}}
            <button (click)="success = false;" type="button" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <hr>
    </div>

   
<div class="row">
    <div class="col-md-4 pull-right" *ngIf="!isChangePassword">
            <div class="card card-profile">
              <div class="container">
                <div class="avatar-upload">
                  <div class="avatar-edit">
                    <input type='file' (change)="saveChanges(upload)" #upload id="imageUpload" accept=".png, .jpg, .jpeg" />
                    <label title="Upload Image" for="imageUpload"></label>
                  </div>
                  <div class="avatar-preview">
                    <div id="imagePreview" [ngStyle]="{ 'background-image': 'url(' + user?.photoURL + ')'}">
                    </div>
                  </div>
                </div>
              </div>
              <!-- <div class="card-avatar">
                <a href="#">
                  <img class="img" [src]="user.photoURL || 'https://gentec-web.firebaseapp.com/favicon.ico'" style="min-width: 130px;background-color: #fff">
                </a>
              </div> -->
              <div class="card-body">
                <ng-container *ngIf="!isChangePassword">
                  <h6 class="card-category text-gray">{{user?.company}}</h6>
                  <h4 class="card-title">{{user?.firstName}} {{user?.lastName}}</h4>
                  <p class="card-description">
                    <small>{{user?.bio}}
                    </small>
                  </p>
                  <a href="javascript:void(0)" (click)="isChangePassword = true" class="btn btn-primary btn-round">Change Password</a>
                </ng-container>
              </div>
            </div>
          </div>
        <div class="col-md-4 pull-right b-back" *ngIf="isChangePassword">
          <div class="card card-profile">
            <div class="card-avatar">
              <a href="#">
                <img class="img" [src]="user.photoURL || 'https://gentec-web.firebaseapp.com/favicon.ico'" style="min-width: 130px;">
              </a>
            </div>
            <div class="card-body">
              <form [formGroup]="passwordForm" class="mt-4">
                
              <div class="form-group bmd-form-group">
                <label class="bmd-label-floating">Current Password</label>
                <input type="password" class="form-control" formControlName="currentPassword">
              </div>
              <div class="form-group bmd-form-group">
                    <label class="bmd-label-floating">New Password</label>
                    <input type="password" class="form-control" formControlName="newPassword">
                  </div>
                  <div class="form-group bmd-form-group">
                        <label class="bmd-label-floating">Re-type Password</label>
                        <input type="password" class="form-control" formControlName="retypePassword">
                      </div>
              <button [disabled]="passwordForm.invalid" type="button" (click)="changePassword()" class="btn btn-primary btn-round">Submit</button>
          </form>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="card">
            <div class="card-header card-header-primary">
              <h4 class="card-title">User Profile</h4>
              <p class="card-category">Update your user info here</p>
            </div>
            <div class="card-body">
              <form _lpchecked="1" [formGroup]="form" novalidate>
    
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group bmd-form-group">
                      <label class="bmd-label-floating">Fist Name</label>
                      <input type="text" class="form-control" formControlName="firstname">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group bmd-form-group">
                      <label class="bmd-label-floating">Last Name</label>
                      <input type="text" class="form-control" formControlName="lastname">
                    </div>
                  </div>
                </div>
                <div class="row">
                        <div class="col-md-4">
                          <div class="form-group bmd-form-group">
                            <label class="bmd-label-floating">Company </label>
                            <input type="text" class="form-control" formControlName="company">
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="form-group bmd-form-group">
                            <label class="bmd-label-floating">Contact</label>
                            <input type="text" class="form-control" formControlName="contact">
                          </div>
                        </div>
                        <div class="col-md-5">
                          <div class="form-group bmd-form-group">
                            <label class="bmd-label-floating">Email address</label>
                            <input type="email" class="form-control" formControlName="email">
                          </div>
                        </div>
                      </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group bmd-form-group">
                      <label class="bmd-label-floating">Adress</label>
                      <input type="text" class="form-control" formControlName="address">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group bmd-form-group">
                      <label class="bmd-label-floating">City</label>
                      <input type="text" class="form-control" formControlName="city">
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group bmd-form-group">
                      <label class="bmd-label-floating">State</label>
                      <input type="text" class="form-control" formControlName="state">
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group bmd-form-group">
                      <label class="bmd-label-floating">Zip Code</label>
                      <input type="text" class="form-control" formControlName="postalCode">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label>About Me</label>
                      <div class="form-group bmd-form-group">
                        <label class="bmd-label-floating"> Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.</label>
                        <textarea class="form-control" rows="5" formControlName="bio"></textarea>
                      </div>
                    </div>
                  </div>
                </div>
                <button class="btn btn-primary pull-right" (click)="updateProfile()">Update Profile</button>
               
                <div class="clearfix"></div>
              </form>
            </div>
          </div>
        </div>
    
      </div>
  
    <!--/row-->







</div>
<!-- </ng-template> -->