
  <section id="b-my_account">
    <div class="container b-my_account">
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12"> 
          <div class="b-auth_section b-auth_login">
            <h2><i class="icon-login icons"></i> Login</h2>
            <form [formGroup]="userForm" (ngSubmit)="login()">
                <div class="form-group">
                  <label for="">Username or email address <span class="b-required">*</span></label>
                  <input type="email" id="email" name="email2" class="input" formControlName="email" required autocomplete="new-password">
                  <div *ngIf="formErrors.email" class="help is-danger">
                    {{ formErrors.email }}
                </div>
                </div>
                <div class="form-group">
                  <label for="">Password <span class="b-required">*</span></label>
                  <input type="password" id="password" name="password2" class="input" formControlName="password" required autocomplete="new-password">
                  <div *ngIf="formErrors.password" class="help is-danger">
                    {{ formErrors.password }}
                </div>
                </div>
                <div class="form-group clearfix">
                  <label class="pull-left"><input name="" type="checkbox"  value=""> Remember me</label>
                  <a href="#" class="pull-right b-lost_password" (click)="resetPassword()"><i class="icon-support icons"></i>  Lost your password?</a>
                </div>
                <p *ngIf="userForm.valid" class="text-success">Form is valid</p>
                <button type="submit" class="btn"  [disabled]="!userForm.valid" >Login</button>  
              </form>
          </div>
  
        </div>  
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12" style="border: none;"> 
            <div class="b-auth_section b-auth_login" >
                <h2><i class="icon-user icons"></i> Register</h2>
                <form [formGroup]="regform" (ngSubmit)="signup()">
                    <div class="form-group">
                        <label for="">Name <span class="b-required">*</span></label>
                        <input type="text" id="fname" name="name" class="input" formControlName="name" required autocomplete="off">
          
                      </div>
                      <!-- <div class="form-group">
                          <label for="">Last Name <span class="b-required">*</span></label>
                          <input type="text" id="lname" name="lname" class="input" formControlName="lname" required autocomplete="new-password">
                        
                        </div> -->
                    <div class="form-group">
                      <label for="">Email <span class="b-required">*</span></label>
                      <input type="email" id="email2" name="email2" class="input" formControlName="email2" required autocomplete="off">
                      <div *ngIf="formErrors.email" class="help is-danger">
                        {{ formErrors.email }}
                    </div>
                    </div>
                    <div class="form-group">
                      <label for="">State <span class="b-required">*</span></label>
                      <input type="text" id="state" name="state" class="input" formControlName="state" required autocomplete="off">
                      <div *ngIf="formErrors.state" class="help is-danger">
                        {{ formErrors.state }}
                    </div>
                    </div>
                    <div class="form-group">
                      <label for="">Contact Number <span class="b-required">*</span></label>
                      <input type="text" id="contact" name="contact" class="input" formControlName="contact" required autocomplete="off">
                      <div *ngIf="formErrors.contact" class="help is-danger">
                        {{ formErrors.contact }}
                    </div>
                    </div>
                    <div class="form-group">
                      <label for="">Company Name <span class="b-required">*</span></label>
                      <input type="text" id="company" name="company" class="input" formControlName="company" required autocomplete="off">
                      <div *ngIf="formErrors.company" class="help is-danger">
                        {{ formErrors.company }}
                    </div>
                    </div>
                    <div class="form-group">
                      <label for="">Password <span class="b-required">*</span></label>
                      <input type="password" id="password2" name="password2" class="input" formControlName="password2" required autocomplete="off">
                      <div *ngIf="formErrors.password" class="help is-danger">
                        {{ formErrors.password }}
                    </div>
                    </div>
                    <!-- <div class="form-group clearfix">
                      <label class="pull-left"><input name="" type="checkbox"  value=""> Remember me</label>
                      <a href="#" class="pull-right b-lost_password"><i class="icon-support icons"></i>  Lost your password?</a>
                    </div> -->
                    <p *ngIf="regform.valid" class="text-success">Form is valid</p>
                    <button type="submit" class="btn"  [disabled]="!regform.valid" >Register</button>  
                  </form>
              </div>
   
        </div>  
      </div>
    </div>
  </section> 

<!-- <form [formGroup]="userForm" *ngIf="newUser" (ngSubmit)="signup()">

    <h3>New User Signup</h3>
    <p class="button is-small" (click)="toggleForm()">Already Registered?</p>
    <hr>

    <label for="email">Email</label>
    <input type="email" class="input" formControlName="email" name="email" required autocomplete="new-password">

    <div *ngIf="formErrors.email" class="notification is-danger">
        {{ formErrors.email }}
    </div>

    <label for="password">Password</label>
    <input type="password" class="input" formControlName="password" name="password" required>

    <div *ngIf="formErrors.password" class="notification is-danger">
        {{ formErrors.password }}
    </div>

    <div *ngIf="userForm.valid" class="notification is-success">Form is valid</div>
    <button type="submit" class="button" [disabled]="!userForm.valid">Submit</button>

</form>


<form [formGroup]="userForm" *ngIf="!newUser" (ngSubmit)="login()">

    <h3>Existing User Login</h3>
    <p class="btn button is-small" (click)="toggleForm()">New User?</p>
    <hr>

    <label for="email">Email</label>
    <input type="email" id="email" name="email2" class="input" formControlName="email" required autocomplete="new-password">

    <div *ngIf="formErrors.email" class="help is-danger">
        {{ formErrors.email }}
    </div>

    <label for="password">Password</label>
    <input type="password" id="password" name="password2" class="input" formControlName="password" required autocomplete="new-password">

    <div *ngIf="formErrors.password" class="help is-danger">
        {{ formErrors.password }}
    </div>

    <button type="submit" class="button" [disabled]="!userForm.valid">Submit</button>

    <span *ngIf="userForm.valid" class="help is-success">Form Looks Valid</span>

    <a *ngIf="!passReset && userForm.controls.email.valid" class="help is-info" (click)="resetPassword()">Reset Password for {{userForm.value.email}}?</a>
    <p *ngIf="passReset" class="help is-info">Reset requested. Check your email instructions.</p>

</form> -->