<div class="b-page_title b-page_title_default text-center">
  <h1 class="b-entry_title"><span>PROJECTS</span></h1>
  <div class="b-breadcrumbs">
    <a href="index.html">Home</a>
    <a href="index.html">Account</a>
    <a href="index.html">Project</a>
    <span>{{id.split('.')[0]}}</span>
  </div>
</div>
<!-- <div class="alert alert-success">New Project Successfully Added.</div> -->
<section id="b-cart_default">
  <div class="b-cart b-cart_default pb-5">
    <div class="container">
      <div class="row clearfix">
        <!-- <div class="col-xl-6 col-lg-6 col-mb-6 col-sm-12 col-xs-12">
          <div class="mt-4" id="mail-status"></div>
        </div> -->
        <div class="col-xl-12 col-lg-12 col-mb-12 col-sm-12 col-xs-12">
          <!-- <div class="alert alert-success">New Project Successfully Added.</div> -->
          <div class="alert alert-success" *ngIf="success">
            <i class="fa fa-check-circle-o fa-fw"></i> {{message}}
            <button (click)="success = false;" type="button" class="close" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="b-title b-title_line_righ mt-5 mt-lg -0">
            <h2 class="text-uppercase">{{id.split('.')[0]}}</h2>
          </div>
          <!-- <p>For Architects, Developers or Designers who would like indicative pricing on your specification click the
            button below to request approval and leave us your name, email and company info with the subject 'Quote
            Request' and we'll get the rest sorted!</p>
          <p>Once approved you will be able to submit any Project you have created by clicking 'Request Quote' from
            within your project.</p> -->

            <table id="cart" class="table table-bordered table-condensed" *ngIf="productProject">
              <thead>
                <tr>
                  <th colspan="2">Product</th>
                  <th>Type</th>
                  <th>Summary</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let product of productProject">
                  <td>
                    <img [src]="product?.imageURL || './assets/images/not_available.jpg'" alt="" height="100px" width="100px">
                  </td>
                  <td width="20%">{{product?.productTitle | titlecase}}</td>
                  <td >type</td>
                  <td width="50%" style="font-size: 12px">
                    <p>Colours/Finish: {{product?.colourFinish}}</p>
                    <p>Depth(mm): {{product?.depth || 'n/a'}}</p>
                    <p>Height(mm): {{product?.height || 'n/a'}}</p>
                    <p>Width(mm): {{product?.width || 'n/a'}}</p>
                  </td>
                  <td class="action">
                    <div class="btn-group">
                      <button type="button" class="btn btn-default">Action</button>
                      <button type="button" class="btn btn-default dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <span class="sr-only">Toggle Dropdown</span>
                      </button>
                      <div class="dropdown-menu">
                        <a (click)="removeToProject(product)" class="dropdown-item" href="javascript:void(0);">Remove</a>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td>
                    <button (click)="downloadFile()" type="button" class="btn btn-primary btn-block">Export as CSV</button>
                    <angular2csv *ngIf="productProject?.length > 0" [data]="productProject" filename="{{id.split('.')[0]}}" [options]="options" class="d-none">
                    </angular2csv>
                  </td>
                  <td>
                    <button (click)="downloadPDF()" type="button" class="btn btn-primary btn-block">Save as PDF</button>
                  </td>
                </tr>
              </tfoot>
            </table>
            <table id="content" class="table table-bordered table-condensed d-none" *ngIf="productProject">
              <thead>
                <tr>
                  <th colspan="2" class="text-center">Product</th>
                  <th class="text-center">Code</th>
                  <th class="text-center">Summary</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let product of productProject">
                  <td>
                    <img [src]="product?.imageURL || './assets/images/not_available.jpg'" alt="" height="100px" width="100px">
                  </td>
                  <td width="20%">{{product?.productTitle | titlecase}}</td>
                  <td >{{product?.productCode | uppercase}}</td>
                  <td width="50%" style="font-size: 12px">
                    <p>Colours/Finish: {{product?.colourFinish}}</p>
                    <p>Depth(mm): {{product?.depth || 'n/a'}}</p>
                    <p>Height(mm): {{product?.height || 'n/a'}}</p>
                    <p>Width(mm): {{product?.width || 'n/a'}}</p>
                  </td>
                </tr>
              </tbody>
            </table>
        </div>
      </div>
      <!-- <div> -->
      <!-- <a href="#" class="btn btn-warning"><i class="fa fa-angle-left"></i> Continue Shopping</a> -->


      <!-- <a (click)="addProject()" href="javascipt:void(0)" class="btn btn-success btn-lg pull-right">Add Project <i class="fa fa-plus-circle"></i></a>
          </div> -->
      <!-- <table id="cart" class="table table-hover table-condensed">
        <thead>
          <tr>
            <th style="width:50%">Name</th>
            <th style="width:10%">Date</th>
            <th style="width:8%">Code</th>
            <th style="width:22%" class="text-center">Location</th>
            <th style="width:10%">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let project of projects">
            <td data-th="Product">
              <div class="row">
                <div class="col-sm-2 hidden-xs"><img src="assets/images/products/home/product_grid_03_01.jpg" alt="..."
                    class="img-fluid" /></div>
                <div class="col-sm-9">
                  <h4 class="nomargin">{{project?.projectName}}</h4>
                  <p>{{project?.description}}</p>
                </div>
              </div>
            </td>
            <td data-th="Price">{{project?.dateCreated | date:'MM/d/yy'}}</td>
            <td data-th="Quantity">
              <input type="text" class="form-control text-center" value="{{project?.code}}">
            </td>
            <td data-th="Subtotal" class="text-center">{{project?.location}}</td>
            <td class="actions" data-th="">
              <div class="col-sm-1">
                <button class="btn btn-info btn-sm"><i class="fa fa-refresh"></i></button>
                <button class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i></button>
              </div>
            </td>
          </tr>
        </tbody>

      </table> -->

    </div>
  </div>
</section>