.table td, .table thead th {
    border-width: 0.5px !important;
}

td p {
    margin-bottom: 1px;
}

.b-cart_default td, .b-cart_default th {
    vertical-align: top;
}

table tr td i {
    visibility:hidden;
}

table tr:hover td i {
    visibility:visible;
}

// table tr:hover td {
//     background-color: #ececec;
// }

table tr td i {
    padding: 5px;
    cursor: pointer;
}