<div class="b-page_title b-page_title_default text-center">
  <h1 class="b-entry_title"><span>Lifestyle</span></h1>  
  <div class="b-breadcrumbs">
    <a href="#" routerLink="/">Home</a>
    <span><a href="#" routerLink="/news">News</a></span>
  </div>
</div> 
<section id="b-blog_fullwidth" *ngIf="singleNews">
    <div class="container">
      <div class="row clearfix">
          <div class="col-xl-12 col-lg-12 col-mb-12 col-sm-12 col-xs-12">
              <div class="b-blog_default b-blog_grid b-blog_default_list b-blog_full">
            <div class="b-blog_degault_single">   
               <div class="b-blog_single_info text-center">
                    <div class="b-blog_single_header">
                      <div class="b-post_categories mb-2 d-relative">
                         <div class="b-post_categorie_list">
                            <a href="#" rel="category tag" routerLink="/news">{{singleNews?.category}}</a>
                         </div>
                      </div>   
                    </div>
                    <h3 class="b-entry_title">
                        <a href="#" rel="bookmark">{{singleNews?.title | titlecase}}</a>
                    </h3>
                    <!-- <div class="b-author_info pb-1">
                        <span class="b-author_name">
                            By <a href="#" rel="author">V. Harrison</a>
                        </span>
                        <span class="b-reply">
                            <a href="#">Leave a comment</a>
                        </span>
                    </div> -->
               </div>        
               <div class="b-blog_single_header">
                    <div class="b-blog_img_wrap">
                        <a href="#">
                            <img src="{{singleNews?.imgURL || 'assets/images/blog/home/blog_default_01.jpg'}}" class="img-fluid" alt="">
                        </a>
                    </div>
                    <!-- <div class="b-post_time text-center">
                        <span class="b-post_day">08</span>
                        <span class="b-post_month">Aug</span>
                    </div>  -->
                </div>  
                <div class="b-blog_single_info"> 
                    <div class="b-blog_single_content text-left pt-3">
                      
                        <h6 class="font-title b-font_lora font-italic mb-3" [innerHTML]="singleNews?.content">
                          <!-- <span [innerHTML]="singleNews?.content"></span> -->
                        </h6>
                        <!-- <p>Susp endisse ullam corper a adipiscing class ullam corper inceptos nisl consequat eros congue ullamcorper suspendisse a penatibus a varius. Montes a platea viva mus ridiculus consequat parturient parturient pretium nascetur at cras porta parturient scelerisque ad mollis at in vivamus risus. Euismod maecenas.</p> -->
                        <!-- <blockquote>
                          <p class="b-font_lora mt-4">
                             Massa class fringilla parturient felis quisque adipiscing praesent velit duis odio velit sit dignissim hac adipiscing facilisis id inceptos suspendisse aliquam a quam a mi litora. Condimentum cum semper conubia taciti lorem hac lacinia adipiscing adipiscing parturient amet litora velit consectetur etiam a suspendisse fames blandit diam vehicula facilisis cras condimentum mi dui.
                          </p>
                        </blockquote> -->
                        <div class="b-footer_socail b-socail_large b-socail_color mt-5">
                          <ul class="list-unstyled clearfix mb-0">
                            <li><a href="#" data-toggle="tooltip" title="" data-original-title="Facebook" class="fa fa-facebook"></a></li>
                            <li><a href="#" data-toggle="tooltip" title="" data-original-title="Twitter" class="fa fa-twitter"></a></li>
                            <li><a href="#" data-toggle="tooltip" title="" data-original-title="Google Plus" class="fa fa-google-plus"></a></li>
                            <li><a href="#" data-toggle="tooltip" title="" data-original-title="Email" class="fa fa-envelope"></a></li>
                            <li><a href="#" data-toggle="tooltip" title="" data-original-title="Pinterest" class="fa fa-pinterest"></a></li>
                          </ul>
                        </div>
                        <div class="b-blog_navigation clearfix">
                          <a href="#" class="float-left"><i class="fa fa-angle-left"></i> &nbsp;&nbsp;PREVIOUS POST</a>
                          <a href="#" class="float-right">NEXT POST &nbsp;&nbsp;<i class="fa fa-angle-right"></i> </a>
                        </div>
                    </div> 
                </div>
                 
            </div> 
          </div>
        </div>  
       
      </div>
    </div>
</section> 