<div class="b-page_title b-page_title_default text-center">
  <h1 class="b-entry_title"><span>Lifestyle</span></h1>  
  <div class="b-breadcrumbs">
    <a href="index.html">Home</a>
    <span>Blog Single</span>
  </div>
</div> 
<section id="b-blog_alternative">
    <div class="container">
      <div class="row clearfix">
        <div class="col-xl-9 col-lg-9 col-mb-8 col-sm-12 col-xs-12">
          <div class="b-blog_default b-blog_grid b-blog_default_list">
            <div class="b-blog_degault_single">   
               <div class="b-blog_single_info text-center">
                    <div class="b-blog_single_header">
                      <div class="b-post_categories mb-2 d-relative">
                         <div class="b-post_categorie_list">
                            <a href="#" rel="category tag">Lifestyle</a>
                         </div>
                      </div>   
                    </div>
                    <h3 class="b-entry_title">
                        <a href="#" rel="bookmark">Venenatis veulum peus</a>
                    </h3>
                    <!-- <div class="b-author_info pb-1">
                        <span class="b-author_name">
                            By <a href="#" rel="author">V. Harrison</a>
                        </span>
                        <span class="b-reply">
                            <a href="#">Leave a comment</a>
                        </span>
                    </div> -->
               </div>        
               <div class="b-blog_single_header">
                    <div class="b-blog_img_wrap">
                        <a href="#">
                            <img src="assets/images/blog/home/blog_default_01.jpg" class="img-fluid" alt="">
                        </a>
                    </div>
                    <!-- <div class="b-post_time text-center">
                        <span class="b-post_day">08</span>
                        <span class="b-post_month">Aug</span>
                    </div>  -->
                </div>  
                <div class="b-blog_single_info"> 
                    <div class="b-blog_single_content text-left pt-3">.
                        <h6 class="font-title b-font_lora font-italic mb-3">Tortor ac litora phasellus a porta hac vestibulum fringilla taciti gravida adipiscing est litora sed massa per a ut vivamus libero vel. Ridiculus non et dis fermentum non libero per hac vestibulum senectus tortor leo nisl lobortis consectetur senectus habitant facilisi sodales.</h6>
                        <p>Susp endisse ullam corper a adipiscing class ullam corper inceptos nisl consequat eros congue ullamcorper suspendisse a penatibus a varius. Montes a platea viva mus ridiculus consequat parturient parturient pretium nascetur at cras porta parturient scelerisque ad mollis at in vivamus risus. Euismod maecenas.</p>
                        <blockquote>
                          <p class="b-font_lora mt-4">
                             Massa class fringilla parturient felis quisque adipiscing praesent velit duis odio velit sit dignissim hac adipiscing facilisis id inceptos suspendisse aliquam a quam a mi litora. Condimentum cum semper conubia taciti lorem hac lacinia adipiscing adipiscing parturient amet litora velit consectetur etiam a suspendisse fames blandit diam vehicula facilisis cras condimentum mi dui.
                          </p>
                        </blockquote>
                        <div class="b-footer_socail b-socail_large b-socail_color mt-5">
                          <ul class="list-unstyled clearfix mb-0">
                            <li><a href="#" data-toggle="tooltip" title="" data-original-title="Facebook" class="fa fa-facebook"></a></li>
                            <li><a href="#" data-toggle="tooltip" title="" data-original-title="Twitter" class="fa fa-twitter"></a></li>
                            <li><a href="#" data-toggle="tooltip" title="" data-original-title="Google Plus" class="fa fa-google-plus"></a></li>
                            <li><a href="#" data-toggle="tooltip" title="" data-original-title="Email" class="fa fa-envelope"></a></li>
                            <li><a href="#" data-toggle="tooltip" title="" data-original-title="Pinterest" class="fa fa-pinterest"></a></li>
                          </ul>
                        </div>
                        <div class="b-blog_navigation clearfix">
                          <a href="#" class="float-left"><i class="fa fa-angle-left"></i> &nbsp;&nbsp;PREVIOUS POST</a>
                          <a href="#" class="float-right">NEXT POST &nbsp;&nbsp;<i class="fa fa-angle-right"></i> </a>
                        </div>
                    </div> 
                </div>
                 
            </div> 
          </div>
        </div>  
        <div class="col-xl-3 col-lg-3 col-mb-4 col-sm-12 col-xs-12">
          <div class="b-sidebar">
            <div class="b-sidebar_widget">
              <h5 class="b-widget_title">CATEGORIES</h5>
              <div class="b-sidenav">
                <nav>  
                  <ul class="pl-0 mb-0 list-unstyled">
                    <li><a href="#">Creative</a></li>
                    <li><a href="#">Featured</a></li>
                    <li><a href="#">Hobbies</a></li>
                    <li><a href="#">International</a></li>
                    <li><a href="#">Lifestyle</a></li>
                    <li><a href="#">Travel</a></li>
                  </ul>
                </nav>
              </div>
            </div>
            <div class="b-sidebar_widget">
              <h5 class="b-widget_title">RECENT POST</h5>
              <div class="b-sidenav">
                <nav>  
                  <ul class="pl-0 mb-0 list-unstyled b-recent_post">
                    <li>
                      <a href="#" class="b-recent_blog_img d-inline-block">
                          <img src="assets/images/blog/home/blog_recent_01.jpg" class="img-fluid d-block" alt="">
                      </a>
                      <h3><a href="#">VENENATIS VEULUM PEUS</a></h3>
                      <span>August 8, 2015</span>
                    </li>
                    <li>
                      <a href="#" class="b-recent_blog_img d-inline-block">
                          <img src="assets/images/blog/home/blog_recent_02.jpg" class="img-fluid d-block" alt="">
                      </a>
                      <h3><a href="#">HAC FAMES TEMPOR</a></h3>
                      <span>August 8, 2015</span>
                    </li>
                    <li>
                      <a href="#" class="b-recent_blog_img d-inline-block">
                          <img src="assets/images/blog/home/blog_recent_03.jpg" class="img-fluid d-block" alt="">
                      </a>
                      <h3><a href="#">URNA LIGULA INCEPTOS</a></h3>
                      <span>August 8, 2015</span>
                    </li>
                    <li>
                      <a href="#" class="b-recent_blog_img d-inline-block">
                          <img src="assets/images/blog/home/blog_recent_04.jpg" class="img-fluid d-block" alt="">
                      </a>
                      <h3><a href="#">DAPIBUS A AT GRAVIDA</a></h3>
                      <span>August 8, 2015</span>
                    </li>
                    <li>
                      <a href="#" class="b-recent_blog_img d-inline-block">
                          <img src="assets/images/blog/home/blog_recent_05.jpg" class="img-fluid d-block" alt="">
                      </a>
                      <h3><a href="#">CONDINTUM INTELGER RIDIS</a></h3>
                      <span>August 8, 2015</span>
                    </li> 
                  </ul>
                </nav>
              </div>
            </div>
            <div class="b-sidebar_widget">
              <h5 class="b-widget_title">OUR INSTAGRAM</h5>
              <div class="b-instagram_feeds">
                <ul class="b-instagram_pics list-inline">
                    <li>
                        <a href="#" target="_self"></a>
                        <div class="wrapp-pics">
                            <img src="assets/images/instagram/home/default-instagramm-1.jpg" alt="" class="img-fluid d-block">
                            <div class="hover-mask"></div>
                        </div>
                    </li>
                    <li>
                        <a href="#" target="_self"></a>
                        <div class="wrapp-pics">
                            <img src="assets/images/instagram/home/default-instagramm-2.jpg" alt="" class="img-fluid d-block">
                            <div class="hover-mask"></div>
                        </div>
                    </li>
                    <li>
                        <a href="#" target="_self"></a>
                        <div class="wrapp-pics">
                            <img src="assets/images/instagram/home/default-instagramm-3.jpg" alt="" class="img-fluid d-block">
                            <div class="hover-mask"></div>
                        </div>
                    </li>
                    <li>
                        <a href="#" target="_self"></a>
                        <div class="wrapp-pics">
                            <img src="assets/images/instagram/home/default-instagramm-4.jpg" alt="" class="img-fluid d-block">
                            <div class="hover-mask"></div>
                        </div>
                    </li>
                    <li>
                        <a href="#" target="_self"></a>
                        <div class="wrapp-pics">
                            <img src="assets/images/instagram/home/default-instagramm-5.jpg" alt="" class="img-fluid d-block">
                            <div class="hover-mask"></div>
                        </div>
                    </li>
                    <li>
                        <a href="#" target="_self"></a>
                        <div class="wrapp-pics">
                            <img src="assets/images/instagram/home/default-instagramm-6.jpg" alt="" class="img-fluid d-block">
                            <div class="hover-mask"></div>
                        </div>
                    </li>
                    <li>
                        <a href="#" target="_self"></a>
                        <div class="wrapp-pics">
                            <img src="assets/images/instagram/home/default-instagramm-2.jpg" alt="" class="img-fluid d-block">
                            <div class="hover-mask"></div>
                        </div>
                    </li>
                    <li>
                        <a href="#" target="_self"></a>
                        <div class="wrapp-pics">
                            <img src="assets/images/instagram/home/default-instagramm-3.jpg" alt="" class="img-fluid d-block">
                            <div class="hover-mask"></div>
                        </div>
                    </li>
                    <li>
                        <a href="#" target="_self"></a>
                        <div class="wrapp-pics">
                            <img src="assets/images/instagram/home/default-instagramm-4.jpg" alt="" class="img-fluid d-block">
                            <div class="hover-mask"></div>
                        </div>
                    </li>
                </ul>
              </div>
            </div>  
            <div class="b-sidebar_widget">
              <h5 class="b-widget_title">RECENT COMMENT</h5>
              <div class="b-sidenav">
                <nav>  
                  <ul class="pl-0 mb-0 list-unstyled b-recent_comment">
                    <li><b>admin on </b><a href="#">Basic knit dress chest</a></li>
                    <li><b>admin on </b><a href="#">Eingerless gloves in camel</a></li>
                    <li><b>admin on </b><a href="#">Eingerless gloves in camel</a></li>
                    <li><b>admin on </b><a href="#">Yolour Riche La Palette Nude</a></li> 
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section> 