<div class="b-map">
  <div id="b-map" class="b-map_in"></div>
  <div class="b-map_over">
    <h3>VISIT OUR NEW STORE IN AUSTRALIA</h3>
    <p>
      <i class="fa fa-map-marker b-icon_large"></i>
      Unit 6, 20- 28 Ricketty Street, <br>
      Mascot, NSW 2020, Australia
    </p>
    <a href="#" [routerLink]="['/']" fragment="contactUs">Contact Us</a>
  </div>
</div>
<section id="distribution" class="pb-5">
  <div class="b-section_title">
    <h4 class="text-center text-uppercase">
      {{post?.title}}
    </h4>
</div>
<div class="container" [innerHTML]="post?.content"></div>
</section>