<div class="b-map">
  <div id="b-map" class="b-map_in"></div>
  <div class="b-map_over">
    <h3>VISIT OUR NEW STORE IN AUSTRALIA</h3>
    <p>
      <i class="fa fa-map-marker b-icon_large"></i>
      Unit 6, 20- 28 Ricketty Street, <br>
      Mascot, NSW 2020, Australia
    </p>
    <a href="#">Contact Us</a>
  </div>
</div>
<section id="distribution" class="pb-5">
    <div class="b-section_title">
              <h4 class="text-center text-uppercase">
               Distribution
          
              </h4>
          </div>
          <div class="container">

              <div class="row clearfix">
                <img src="./assets/images/distribution.jpg" class="img-fluid d-block" style="width: 100%;"/>

              </div>
              <div class="row clearfix pt-4">
                  <div class="green1 col-xl-3 col-lg-3 col-mb-6">
                    <p>Australia<br>
                      Singapore<br>
                      India<br>
                      Middle East<br>
                    </p>
                  </div>
                  <div class="green2 col-xl-9 col-lg-9 col-mb-6">
                    <p><strong>Gentec Australia - Head Office</strong><br>
                      Unit 6, 20-28 Ricketty St.<br>
                      Mascot 2020 NSW<br>
                      <strong>Tel:</strong> +612 9319 4422<br>
                      <strong>Fax:</strong> +612 8088 7635<br>
                      <strong>E-mail:</strong> info@gentecaustralia.com.au<br>

                    </p>
                  </div>
                </div>
                <div class="row clearfix pt-4">
                    <div class="green1 col-xl-3 col-lg-3 col-mb-6">
                      <p>North Queensland<br>
                        Fiji<br>
                        Papua New Guinea<br>
               
                      </p>
                    </div>
                    <div class="green2 col-xl-9 col-lg-9 col-mb-6">
                      <p><strong>Pacific Islands Internations</strong><br>
                        65 Thuringowa Drive,<br>
                        Kirwan, QLD, 4817<br>
                        <strong>Tel:</strong> +617 4773 2444<br>
              
                        <strong>E-mail:</strong> sales@gentecaustralia.com.au<br>
  
                      </p>
                    </div>
                  </div>
                  <div class="row clearfix pt-4">
                      <div class="green1 col-xl-3 col-lg-3 col-mb-6">
                        <p>Hong Kong<br>
                          Macau<br>
        
                 
                        </p>
                      </div>
                      <div class="green2 col-xl-9 col-lg-9 col-mb-6">
                        <p><strong>Alliance Ascent Holdings Limited</strong><br>
                         Unit 812, 8/F, Block B,<br>
                         Hoi Luen Industrial Centre<br>
                        55 Hoi Yuen Road, Kwun Tong<br>
                          <strong>Tel:</strong>(852) 9282 3769;<br>
                          (852) 2372 9939
                          <strong>E-mail:</strong> phillipchan@allianceascent.com<br>
    
                        </p>
                      </div>
                    </div>
              </div>
          </section>