.sub-header {
    line-height: .5;
    // line-height: 2.14285714;
    font-weight: normal !important;
    color: #555555;
    font-size: 15px !important;
    // padding-top: 30px;
}

// .b-price {
//     margin-bottom: 1.5rem;
// }

.b-produt_description p {
    font-weight: 600;
    font-size: 15px !important;
}

.b-produt_description h4 {
    font-size: 20px;
    font-family: "Noto Sans", sans-serif;
    margin-bottom: 1.3rem;
    font-weight: 600;
}

h6 {
    font-size: 1.25rem !important;
}

ul li {
    display: inline-block;
    margin-right: 15px;
}

.swatch-squares {
    display: block;
    height: auto;
    margin: 5px;
}

.detail-width {
    // width: 12%;
}

.b-product_single_summary .b-price span {
    font-size: 20px;
}

.b-product_single_summary .b-product_single_action {
    border-bottom: 0px;
    width: 260px;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

button.text-uppercase.pull-left.btn {
    margin-right: 7px;
    padding-left: 26px;
    padding-right: 26px;
    border: 1px solid #95c448;
    background-color: #ffffff;
}

.nav {
    display: flex !important;
}

.nav-tabs .nav-item {
    width: 100%;
}

.b-product_tabs .nav li {
    border-bottom: 0px;
}

.b-product_tabs .b-shop_attributes {
    max-width: 700px;
}

.b-additional-video-wrap {
    position: absolute;
    bottom: 10px;
    z-index: 99;
}

.b-product_tabs {
    margin-top: 30px !important;
}

/deep/.owl-carousel .owl-item img {
    display: block;
    width: 34rem;
    height: 24rem;
    object-fit: scale-down;
    border: 1px solid #C9C9C9;
}

.product-features {
    margin-top: 10px !important;
}