.sub-header {
    line-height: 2.14285714;
    font-weight: normal !important;
    color: #555555;
    font-size: 18px !important;
    // padding-top: 30px;
}

h5 {
    font-size: 1.25rem !important;
}

ul li {
    display: inline-block;
    margin-right: 15px;
}

.swatch-squares {
    display: block;
    height: auto;
    margin: 5px;
}

.detail-width {
    // width: 12%;
}

.b-product_single_summary .b-price span {
    font-size: 24px;
}

.b-product_single_summary .b-product_single_action {
    border-bottom: 0px;
    width: 260px;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

button.text-uppercase.pull-left.btn {
    margin-right: 7px;
    padding-left: 26px;
    padding-right: 26px;
    border: 1px solid #95c448;
    background-color: #ffffff;
}