.sub-header {
    line-height: 2.14285714;
    font-weight: normal !important;
    color: #555555;
    padding-top: 30px;
}

h5 {
    font-size: 1.25rem !important;
}

ul li {
    display: inline-block;
    margin-right: 15px;
}

.swatch-squares {
    display: block;
    height: auto;
    margin: 5px;
}

.detail-width {
    // width: 12%;
}