<div class="b-page_title b-page_title_default text-center">
  <h1 class="b-entry_title"><span>News</span></h1>  
  <div class="b-breadcrumbs">
    <a href="#">Home</a>
    <span>News</span>
  </div>
</div>
<!-- <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner> -->
<section id="b-blog_default" *ngIf="posts">
  <div class="container">
    <div class="row clearfix">
      <div class="col-xl-9 col-lg-9 col-mb-8 col-sm-12 col-xs-12">
        <div class="b-blog_default b-blog_grid b-blog_default_list">
          <div class="b-blog_degault_single" *ngFor="let post of posts">
             <div class="b-blog_single_header">
                  <div class="b-blog_img_wrap">
                      <a href="#">
                          <img [src]="post?.imgURL"  class="img-fluid" alt="">
                      </a>
                  </div>
                  <div class="b-post_time text-center">
                      <span class="b-post_day">{{post?.dateCreated | date:'dd'}}</span>
                      <span class="b-post_month">{{post?.dateCreated | date:'MMM'}}</span>
                  </div>
                  <div class="b-post_categories">
                     <div class="b-post_categorie_list">
                        <a href="#" rel="category tag">Health</a>
                     </div>
                  </div>
              </div>  
              <div class="b-blog_single_info">
                  <h3 class="b-entry_title">
                      <a href="#" rel="bookmark">{{post?.title}}</a>
                  </h3>
                  <div class="b-author_info">
                      <span class="b-author_name">
                          By <a href="#" rel="author">Gentec Editor</a>
                      </span>
                      <span class="b-reply">
                          <a href="#">Leave a comment</a>
                      </span>
                  </div>
                  <div class="b-blog_single_content">
                      <p [innerHTML]="post?.content | slice:0:300"></p> </div> 
              </div>
              <div class="b-read_more">
                  <a href="#">Read More</a>
              </div>
          </div>
       
        </div>
      </div>  
      <div class="col-xl-3 col-lg-3 col-mb-4 col-sm-12 col-xs-12">
        <div class="b-sidebar">
          <!-- <div class="b-sidebar_widget">
            <h5 class="b-widget_title">CATEGORIES</h5>
            <div class="b-sidenav">
              <nav>  
                <ul class="pl-0 mb-0 list-unstyled">
                  <li><a href="#">Creative</a></li>
                  <li><a href="#">Featured</a></li>
                  <li><a href="#">Hobbies</a></li>
                  <li><a href="#">International</a></li>
                  <li><a href="#">Lifestyle</a></li>
                  <li><a href="#">Travel</a></li>
                </ul>
              </nav>
            </div>
          </div> -->
          <div class="b-sidebar_widget">
            <h5 class="b-widget_title">RECENT POST</h5>
            <div class="b-sidenav">
              <nav>  
                <ul class="pl-0 mb-0 list-unstyled b-recent_post">
                  <li>
                    <a href="#" class="b-recent_blog_img d-inline-block">
                        <img src="assets/images/blog/home/blog_recent_01.jpg" class="img-fluid d-block" alt="">
                    </a>
                    <h3><a href="#">VENENATIS VEULUM PEUS</a></h3>
                    <span>August 8, 2015</span>
                  </li>
                  <li>
                    <a href="#" class="b-recent_blog_img d-inline-block">
                        <img src="assets/images/blog/home/blog_recent_02.jpg" class="img-fluid d-block" alt="">
                    </a>
                    <h3><a href="#">HAC FAMES TEMPOR</a></h3>
                    <span>August 8, 2015</span>
                  </li>
                  <li>
                    <a href="#" class="b-recent_blog_img d-inline-block">
                        <img src="assets/images/blog/home/blog_recent_03.jpg" class="img-fluid d-block" alt="">
                    </a>
                    <h3><a href="#">URNA LIGULA INCEPTOS</a></h3>
                    <span>August 8, 2015</span>
                  </li>
                  <li>
                    <a href="#" class="b-recent_blog_img d-inline-block">
                        <img src="assets/images/blog/home/blog_recent_04.jpg" class="img-fluid d-block" alt="">
                    </a>
                    <h3><a href="#">DAPIBUS A AT GRAVIDA</a></h3>
                    <span>August 8, 2015</span>
                  </li>
                  <li>
                    <a href="#" class="b-recent_blog_img d-inline-block">
                        <img src="assets/images/blog/home/blog_recent_05.jpg" class="img-fluid d-block" alt="">
                    </a>
                    <h3><a href="#">CONDINTUM INTELGER RIDIS</a></h3>
                    <span>August 8, 2015</span>
                  </li> 
                </ul>
              </nav>
            </div>
          </div>
          <!-- <div class="b-sidebar_widget">
            <h5 class="b-widget_title">OUR INSTAGRAM</h5>
            <div class="b-instagram_feeds">
              <ul class="b-instagram_pics list-inline">
                  <li>
                      <a href="#" target="_self"></a>
                      <div class="wrapp-pics">
                          <img src="assets/images/instagram/home/default-instagramm-1.jpg" alt="" class="img-fluid d-block">
                          <div class="hover-mask"></div>
                      </div>
                  </li>
                  <li>
                      <a href="#" target="_self"></a>
                      <div class="wrapp-pics">
                          <img src="assets/images/instagram/home/default-instagramm-2.jpg" alt="" class="img-fluid d-block">
                          <div class="hover-mask"></div>
                      </div>
                  </li>
                  <li>
                      <a href="#" target="_self"></a>
                      <div class="wrapp-pics">
                          <img src="assets/images/instagram/home/default-instagramm-3.jpg" alt="" class="img-fluid d-block">
                          <div class="hover-mask"></div>
                      </div>
                  </li>
                  <li>
                      <a href="#" target="_self"></a>
                      <div class="wrapp-pics">
                          <img src="assets/images/instagram/home/default-instagramm-4.jpg" alt="" class="img-fluid d-block">
                          <div class="hover-mask"></div>
                      </div>
                  </li>
                  <li>
                      <a href="#" target="_self"></a>
                      <div class="wrapp-pics">
                          <img src="assets/images/instagram/home/default-instagramm-5.jpg" alt="" class="img-fluid d-block">
                          <div class="hover-mask"></div>
                      </div>
                  </li>
                  <li>
                      <a href="#" target="_self"></a>
                      <div class="wrapp-pics">
                          <img src="assets/images/instagram/home/default-instagramm-6.jpg" alt="" class="img-fluid d-block">
                          <div class="hover-mask"></div>
                      </div>
                  </li>
                  <li>
                      <a href="#" target="_self"></a>
                      <div class="wrapp-pics">
                          <img src="assets/images/instagram/home/default-instagramm-2.jpg" alt="" class="img-fluid d-block">
                          <div class="hover-mask"></div>
                      </div>
                  </li>
                  <li>
                      <a href="#" target="_self"></a>
                      <div class="wrapp-pics">
                          <img src="assets/images/instagram/home/default-instagramm-3.jpg" alt="" class="img-fluid d-block">
                          <div class="hover-mask"></div>
                      </div>
                  </li>
                  <li>
                      <a href="#" target="_self"></a>
                      <div class="wrapp-pics">
                          <img src="assets/images/instagram/home/default-instagramm-4.jpg" alt="" class="img-fluid d-block">
                          <div class="hover-mask"></div>
                      </div>
                  </li>
              </ul>
            </div>
          </div>   -->
          <div class="b-sidebar_widget">
            <h5 class="b-widget_title">RECENT COMMENT</h5>
            <div class="b-sidenav">
              <nav>  
                <ul class="pl-0 mb-0 list-unstyled b-recent_comment">
                  <li><b>admin on </b><a href="#">Basic knit dress chest</a></li>
                  <li><b>admin on </b><a href="#">Eingerless gloves in camel</a></li>
                  <li><b>admin on </b><a href="#">Eingerless gloves in camel</a></li>
                  <li><b>admin on </b><a href="#">Yolour Riche La Palette Nude</a></li> 
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> 